doctype html
html
  head
    title Softwareentwicklung mit Ruby on Rails, JavaScript, HTML5 | Dennis Reimann, Softwareentwickler
    meta(name="google-site-verification" content="BRi3ql7JvxxFP2KtBRHIV6Rfzn0ZN7xJF1NNtnEUaI8")
    meta(name="description" content="Ich bin freiberuflicher Softwareentwickler für Webanwendungen. Mein Schwerpunkt ist die Frontendentwicklung mit JavaScript, CSS und HTML")
    meta(name="keywords" content="Responsive,JavaScript,CSS,HTML,HTML5,CoffeeScript,Angular.js,Git,Mobile")
    link(href="/styles/main.css" media="screen" rel="stylesheet")
    link(href="/styles/print.css" media="print" rel="stylesheet")
    link(href="http://openid.dennisreimann.de/server" rel="openid2.provider openid.server")
    link(href="http://openid.dennisreimann.de/dennisreimann" rel="openid2.local_id openid.delegate")
  body
    header
      include header
    main
      block main
    footer
      include footer

    include analytics