doctype html
html
  head
    block title
      title Frontend-Entwicklung mit JavaScript, CSS und HTML
    block meta
      meta(name="description" content="Dennis Reimann ist freiberuflicher Softwareentwickler für Webanwendungen: Frontend-Entwicklung mit JavaScript, CSS und HTML.")
      meta(name="keywords" content="Responsive,JavaScript,CSS,HTML,HTML5,Angular.js,Mobile")
    meta(http-equiv="Content-Type" content="text/html;charset=UTF-8")
    meta(name="google-site-verification" content="BRi3ql7JvxxFP2KtBRHIV6Rfzn0ZN7xJF1NNtnEUaI8")
    meta(name="theme-color" content="#71B239")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    link(href=stylesMainUrl media="all" rel="stylesheet")
    link(href="http://openid.dennisreimann.de/server" rel="openid2.provider openid.server")
    link(href="http://openid.dennisreimann.de/dennisreimann" rel="openid2.local_id openid.delegate")
  body
    header
      include header
    main
      block main
    footer
      include footer
    include analytics