#about
  img
    @media up_to_M
      margin 0 0 marginLarge 0
    @media M_and_up
      float right
      margin marginTiny 0 marginTiny marginLarge

  table
    th
    td
      padding .2em 1em .2em 0
      vertical-align top
      text-align left
    th
      color colorSubtle
      font-weight normal
