#about
  img
    @media up_to_M
      margin 0 0 $space-large 0
    @media M_and_up
      float right
      margin $space-tiny 0 $space-tiny $space-large

  table
    th
    td
      padding .2em 1em .2em 0
      vertical-align top
      text-align left
    th
      color $color-subtle
      font-weight normal

#imprint
  a
    color $color-subtle
