#about
  img
    float right
    margin .25em 0 .25em 1em
  table
    th
    td
      padding .2em 1em .2em 0
      vertical-align top
      text-align left
    th
      color colorSubtle
      font-weight normal
