.articles
  list-style none
  margin-left 0

  &__item
    @media M_and_up
      display flex
      flex-wrap wrap
    + .articles__item
      @media up_to_M
        margin-top $margin-large
      @media M_and_up
        margin-top $margin-small

    &--topic
      + .articles__item--topic
        @media M_and_up
          margin-top $margin-large

    &__date
      flex-basis 6.25em
      color $color-subtle
      @media up_to_M
        display block
      @media M_and_up
        margin-right $margin-normal

    &__link
      flex 1

    &__title
      font-weight bold
      @media up_to_M
        display block
      @media M_and_up
        margin-right $margin-small

    &__subtitle
      color $color-text
      text-decoration none
      white-space nowrap
      @media up_to_M
        display block

    &__lang
      color $color-gray
      @media M_and_up
        margin-left $margin-small

    &__alternate
      .articles__item__link
        color $color-gray

    &__description
      color $color-subtle

  wbr
    @media up_to_M
      display none
