.article
  &__header
    margin-bottom $space-normal

  &__footer
    margin-top $space-large
    color $color-subtle

  &__meta
    margin-bottom $space-large

  &__nav
    @media print
      display none

    &__title
      margin-bottom $space-small

    &__items
      display flex
      flex-wrap wrap
      justify-content space-between

    &__item
      flex 0 1 auto
      margin-bottom $space-normal
      &:first-child
        margin-right $space-large

    &__description
      margin-right $space-tiny
