.articles
  list-style none
  margin-left 0

  &__item
    + .articles__item
      @media up_to_M
        margin-top marginLarge
      @media M_and_up
        margin-top marginSmall

    &__date
      display inline-block
      width 6.25em
      color colorSubtle
      @media up_to_M
        display block
      @media M_and_up
        margin-right marginNormal

    &__title
      font-weight bold
      @media up_to_M
        display block

    &__subtitle
      color colorText
      text-decoration none
      @media up_to_M
        display block
      @media M_and_up
        margin-left marginSmall

    &__alternate
      margin-left marginSmall
      color colorGray

      .articles__item__link
        color colorGray
