.article
  &__header
    margin-bottom $space-normal

  &__content
    p
      img:only-child
        margin-top $space-large
        margin-bottom $space-large

  &__footer
    margin-top $space-large
    color $color-subtle

    .social
      &__link
        position relative
        padding-right 1.9rem
      &__icon
        position absolute
        top -.1em
        right 0
        width 1.5em
        height 1.5em

  &__meta
    margin-bottom $space-large

    a
      color $color-text

  &__nav
    @media print
      display none

    &__title
      margin-bottom $space-small

    &__items
      display flex
      flex-wrap wrap
      justify-content space-between

    &__item
      flex 0 1 auto
      margin-bottom $space-normal
      &:first-child
        margin-right $space-large

    &__description
      margin-right $space-tiny
