.articles
  list-style none
  margin-left 0

  &__item
    @media M_and_up
      display flex
    + .articles__item
      @media up_to_M
        margin-top marginLarge
      @media M_and_up
        margin-top marginSmall

    &--topic
      + .articles__item--topic
        @media M_and_up
          margin-top marginLarge

    &__date
      flex-basis 6.25em
      color colorSubtle
      @media up_to_M
        display block
      @media M_and_up
        margin-right marginNormal

    &__link
      flex 1

    &__title
      font-weight bold
      @media up_to_M
        display block
      @media M_and_up
        margin-right marginSmall

    &__subtitle
      color colorText
      text-decoration none
      white-space nowrap
      @media up_to_M
        display block

    &__lang
      color colorGray
      @media M_and_up
        margin-left marginSmall

    &__alternate
      .articles__item__link
        color colorGray

    &__description
      color colorSubtle

  wbr
    @media up_to_M
      display none
