.cta
  margin-top $space-medium * -1
  margin-left auto
  margin-right auto
  padding-bottom $space-medium
  text-align center

  p
    margin-bottom $space-large

  a
    @extend $font-din-light
    position relative
    display inline-block
    font-size $font-size-large
    padding $space-small 4rem $space-small
    border-radius $space-small
    background-color $color-cta
    text-decoration none
    box-shadow 0 5px darken($color-cta, 33)
    &:hover
      top 1px
      box-shadow 0 4px darken($color-cta, 36)
    &:active
      top 5px
      box-shadow none
