#footer
  margin-top $space-huge
  margin-bottom $space-huge
  font-size $font-size-small

  a:not(.social__link)
    color $color-subtle
    text-decoration none
    &:hover
      text-decoration underline

  .social
    margin-top $space-medium
    margin-bottom $space-medium
