.hashtags
  padding-top $space-large
  padding-bottom $space-large
  color $color-white
  background-color $color-blue-dark
  text-align center

.hashtag
  @extend $font-din-light
  display inline-block
  font-size $font-size-head
  text-align center
  margin $space-tiny $space-medium

  &__hash
    color $color-gray
