.ioctocat
  overflow hidden
  margin-top 1.25em
  border 1px solid lighten($color-lightgray, 1)
  border-radius .5em
  padding 15px 0
  background-image linear-gradient(lighten($color-lightgray, 7), lighten($color-lightgray, 3))

  &__heading
    margin-top .25em

  &__icon
    float left
    margin 0 15px 10px 0

    @media up_to_M
      width 80px
    @media M_and_up
      width 100px

  &__description
    &:last-child
      margin 0

    @media M_and_up
      margin 0
