.ioctocat
  @extend $boxed
  overflow hidden
  margin-top $space-large

  @media print
    display none

  &__heading
    margin-top $space-tiny

  &__icon
    float left
    margin $space-tiny $space-medium $space-normal 0

    @media up_to_M
      width 80px
    @media M_and_up
      width 100px

  &__description
    &:last-child
      margin 0

    @media M_and_up
      margin 0
