.top
  color $color-white
  background-color $color-darkblue
  padding-top $space-large
  padding-bottom $space-large
  margin-bottom $space-large

  h1
    margin-bottom 0

  h2
    color $color-lightgray
    margin-top $space-tiny
    margin-bottom 0

.cta
  margin-top $space-medium * -1
  margin-left auto
  margin-right auto
  padding-bottom $space-medium
  text-align center

  p
    margin-bottom $space-large

  a
    @extend $font-din-light
    position relative
    display inline-block
    font-size $font-size-large
    padding $space-small 4rem $space-small
    border-radius $space-small
    color $color-white
    background-color $color-cta
    text-decoration none
    box-shadow 0 5px darken($color-cta, 15)
    &:hover
    &:active
      background-color lighten($color-cta, 3)
    &:hover
      top 1px
      box-shadow 0 4px darken($color-cta, 10)
    &:active
      top 5px
      box-shadow none

.hashtags
  padding-top $space-large
  padding-bottom $space-large
  color $color-white
  background-color $color-darkblue
  text-align center
