.top
  color $color-white
  background-color $color-darkblue
  padding-top $space-large
  padding-bottom $space-large

.cta
  margin-top $space-medium * -1
  margin-left auto
  margin-right auto
  padding-bottom $space-medium
  text-align center

  a
    @extend $font-din-light
    display inline-block
    font-size $font-size-large
    padding $space-small 4rem $space-small
    border-radius $space-small
    color $color-white
    background-color $color-cta
    text-decoration none
    &:hover
      background-color lighten($color-cta, 7)

.hashtags
  padding-top $space-large
  padding-bottom $space-large
  color $color-white
  background-color $color-darkblue
  text-align center

.availabilities
  text-align center
  margin-left auto
  margin-right auto

.availability
  &--available
    color $color-highlight
  &--booked
    color red
