.logo
  display block
  width $width-aside
  background #FFF
  &:hover
    text-decoration none
  @media screen and (min-width: 720px), print
    margin-left $logo-jump * -1
  &__slashes
  &__name
    display inline-block
    font-family DINCondBold
    font-size 3em
    letter-spacing -.015em
    color #000
  &__slashes
    color $color-highlight
    margin-right .075em
  &__claim
    display block
    font-family DINLight
    margin -.5em 0 0 1.2em
    font-size $font-size-large
    color $color-subtle
    letter-spacing -.0425em
