navItemActive(current = false)
  if current
    border-top-color $color-mark
  color $color-mark

#nav
  background rgba(19, 29, 44, .2)

.nav
  display flex
  justify-content flex-start
  align-content stretch
  align-items flex-end
  list-style none
  margin -5px ($space-large * -1) 0
  color $color-white

  @media print
    display none

  &__item
    flex 0 auto
    margin 0

    @media up_to_S
      font-size $font-size-small

      &--elm
      &--projects
        display none

    &__link
      display block
      padding $space-medium $space-large
      color inherit
      text-decoration none
      border-top 5px solid transparent
      &:hover
        navItemActive(false)
      .nav__item--current &
        navItemActive(true)
