.project
  margin-bottom $space-huge

  &__name
    margin $space-tiny 0
    font-size $font-size-head
    font-weight normal
    color $color-highlight

  &__description
    margin-bottom $space-normal

  &__task
  &__period
  &__context
    margin-bottom $space-small
    color $color-subtle
    a
      color $color-subtle

  @media screen
    &__task
    &__period
    &__context
      padding-left 2em
      position relative

    &__icon
      width 1em
      height 1em
      position absolute
      top 2px
      left 2px
      fill $color-gray

  @media print
    &__icon
      display none

    &__task
    &__period
    &__context
      &:before
        display inline-block
        margin-right $space-tiny
        color $color-subtle
    &__task:before
      content "Aufgabe:"
    &__context:before
      content "Kunde:"
    &__period:before
      content "Zeitraum:"
