.project
  margin-bottom $space-huge
  &__name
    margin $space-tiny 0
    font-size $font-size-head
    font-weight normal
    color $color-highlight
  &__description
    margin-bottom $space-normal
  &__task
  &__period
  &__context
    margin-bottom $space-small
    color $color-subtle
    a
      color $color-subtle
  @media screen
    &__task
    &__period
    &__context
      padding-left 2em
      background-size 16px
      background-repeat no-repeat
    &__task
      background-image url(/svgs/project/task.svg)
      background-position 2px 1px
    &__context
      background-image url(/svgs/project/context.svg)
      background-position 2px 1px
    &__period
      background-image url(/svgs/project/period.svg)
      background-position 2px 0
  @media print
    &__task
    &__period
    &__context
      &:before
        display inline-block
        margin-right $space-tiny
        color $color-subtle
    &__task:before
      content "Aufgabe:"
    &__context:before
      content "Kunde:"
    &__period:before
      content "Zeitraum:"
