$image-size = 110px

.quote
  @extend $boxed
  hyphens manual
  text-align left
  margin-bottom $space-large

  img
    width $image-size
    height $image-size
    border-radius 50%
    @media print
      display none

  footer
    @extend $font-din-light
    color $color-subtle
    font-size $font-size-medium

  @media up_to_M
    img
      margin-bottom $space-medium

  @media M_and_up
    &--left
      img
        float left
        margin-right $space-medium
      footer
        margin-left s("calc(%s + %s)", $image-size, $space-medium)
    &--right
      img
        float right
        margin-left $space-medium
