ul.social
  margin 0

.social
  list-style none

  &__item
    display inline-block

    + .social__item
      margin-left $space-normal

  &__icon
    width 40px
    height 40px
    fill $color-gray

    &--feed:hover
      fill #F29D33

    &--twitter:hover
      fill #48ABD9

    &--mastodon:hover
      fill #3088D4

    &--github:hover
      fill #333

    &--xing:hover
      fill #2A6365

  &__link
    display inline-block
    + .social__link
      margin-left $space-normal

  @media print
    display none
