ul.social
  margin 0

.social
  list-style none

  &__item
    display inline-block

    + .social__item
      margin-left $space-normal

    &__icon
      width 40px
      height 40px

  &__link
    display inline-block
    + .social__link
      margin-left $space-normal

  @media print
    display none
