.top
  color $color-white
  background-color $color-blue
  margin-bottom $space-huge
  padding-top $space-large
  padding-bottom $space-large

  h1
    margin-bottom 0

  h2
    color $color-lightgray
    margin-top $space-tiny
    margin-bottom 0
