.wrap
  padding-left wrapSpace
  padding-right wrapSpace

  @media screen
    margin 0 auto
  @media up_to_L
    max-width widthMain
  @media L_and_up_and_print
    width widthMain + widthSpace + widthAside
