include _article_item_blog
include _article_item_topic

mixin articles(articles, articleType)
  - articlePartial = "article_item_" + articleType
  ul(class="articles articles--#{articleType}")
    for article in articles
      +#{articlePartial}(article)
