meta(property="og:type" content="profile")
meta(property="og:title" content=h.title(h.t(locals, "Kontakt", "Contact")))
meta(property="og:description" content=`Dennis Reimann ${h.t(locals, "ist freiberuflicher Softwareentwickler für Webanwendungen: Elm, JavaScript, CSS und HTML.", "is a freelance software developer: Elm, JavaScript, CSS, and HTML.")}`)
meta(property="og:image" content=h.assetUrl("images/dennis_reimann-2x.jpg", "http"))
meta(property="og:image:secure_url" content=h.assetUrl("images/dennis_reimann-2x.jpg", "https"))
meta(property="profile:gender" content="male")
meta(property="profile:first_name" content="Dennis")
meta(property="profile:last_name" content="Reimann")
meta(property="profile:username" content="dennisreimann")
