h2 Kontakt
.vcard
  span.fn Dennis Reimann
  p.adr
    span.street-address Ottjen-Alldag-Str. 32
    br
    span.postal-code 28277
    | &nbsp;
    span.locality Bremen
    if h.isEnglish(locals)
      br
      span.country Germany
    
  p
    span.web
      a.url(href="https://dennisreimann.de/" rel="me") dennisreimann.de
    br
    span.mail
      a.email(href="mailto:mail@dennisreimann.de" rel="me") mail@dennisreimann.de
    br
    span.tel
      a.email(href="tel:+4915122630317" rel="me") +49 (0)151 22 63 03 17
  
  include social
  
  p.more
    if h.isEnglish(locals)
      a.more__link(href="/contact.html") Contact details &amp; Imprint
    else
      a.more__link(href="/kontakt.html") Kontaktdetails &amp; Impressum
