include ../templates/_icon

h2= h.t(locals, "Kontakt", "Contact") 
.vcard
  p
    span.fn Dennis Reimann
    br
    span.mail
      a.email(href="mailto:mail@dennisreimann.de" rel="me") mail@dennisreimann.de
    br
    span.tel
      a.email(href="tel:+4915122630317" rel="me") +49 (0)151 22 63 03 17

  p.more
    if h.isEnglish(locals)
      a.more__link(href="/contact.html") Contact details &amp; Imprint
    else
      a.more__link(href="/kontakt.html") Kontaktdetails &amp; Impressum
      
  ul.social
    li.social__item
      a(href="/atom.xml" rel="me")
        +icon("social", "feed").social__item__icon
    li.social__item
      a(href="https://twitter.com/dennisreimann" rel="me")
        +icon("social", "twitter").social__item__icon
    li.social__item
      a(href="https://github.com/dennisreimann" rel="me")
        +icon("social", "github").social__item__icon
    li.social__item
      a(href="https://www.xing.com/profile/Dennis_Reimann5" rel="me")
        +icon("social", "xing").social__item__icon
