doctype html
html
  head
    block title
      title Frontend-Entwicklung mit JavaScript, CSS und HTML • Dennis Reimann
    block meta
      meta(name="description" content="Dennis Reimann ist freiberuflicher Softwareentwickler für Webanwendungen: Frontend-Entwicklung mit JavaScript, CSS und HTML.")
      meta(name="keywords" content="Responsive,JavaScript,Elm,CSS,HTML,HTML5,Mobile")
    meta(http-equiv="Content-Type" content="text/html;charset=UTF-8")
    meta(name="google-site-verification" content="BRi3ql7JvxxFP2KtBRHIV6Rfzn0ZN7xJF1NNtnEUaI8")
    meta(name="theme-color" content="#71B239")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    //- link(rel="prefetch" as="font" href=assetUrl("fonts/DINWeb-CondBold.woff"))
    //- link(rel="prefetch" as="font" href=assetUrl("fonts/DINWeb-Light.woff"))
    link(href="http://openid.dennisreimann.de/server" rel="openid2.provider openid.server")
    link(href="http://openid.dennisreimann.de/dennisreimann" rel="openid2.local_id openid.delegate")
    link(href="/atom.xml" rel="alternate" type="application/atom+xml")
    //- make css play nice with browser sync: don't nline in dev mode
    if isDev
      link(href=assetUrl("styles/main.css") media="all" rel="stylesheet")
    else
      style!= assetInline("styles/main.css")
  body
    nav#nav
      .wrap
        include nav
    .wrap
      header#header
        include header
      main#main
        block main
      footer#footer
        include footer
    include analytics
