mixin navItem(type, current)
  li(class="nav__item nav__item--#{type}#{current ? ' nav__item--current' : ''}")
    block

ul.nav
  +navItem("home", h.nav.isHome)
    a.nav__item__link(href="/" + h.t(locals, "", "home") + ".html")
      = h.t(locals, "Startseite", "Homepage")
  +navItem("articles", h.nav.isArticles)
    a.nav__item__link(href="/" + h.t(locals, "artikel", "articles") + ".html")
      = h.t(locals, "Artikel", "Articles")
  +navItem("contact", h.nav.isProjects)
    a.nav__item__link(href="/projekte.html")
      = h.t(locals, "Projekte", "Projects")
  +navItem("contact", h.nav.isContact)
    a.nav__item__link(href="/" + h.t(locals, "contact", "kontakt") + ".html")
      = h.t(locals, "Kontakt", "Contact")
