doctype xml
rss(version='2.0' xml:base='https://dennisreimann.de')
  channel
    title //dennisreimann
    description Als freiberuflicher Softwareentwickler schreibe ich über meine Arbeit, die Projekte und Technisches.
    link https://dennisreimann.de/feed.rss
    language de
    for article in mvb.articles.reverse()
      item
        title= article.title
        pubDate= article.date
        link= article.permalink
        description= article.description
