ul.social
  li.social__item
    a(href="https://github.com/dennisreimann" rel="me") GitHub
  li.social__item
    a(href="https://twitter.com/dennisreimann" rel="me") Twitter
  li.social__item
    a(href="https://www.xing.com/profile/Dennis_Reimann5" rel="me") XING
