@font-face
  font-family "DINLight"
  src url("/fonts/DINWeb-Light.eot");
  src url("/fonts/DINWeb-Light.eot?#iefix") format("embedded-opentype"), url("/fonts/DINWeb-Light.woff?er2sl6") format("woff")

@font-face
  font-family "DINCondBold"
  src url("/fonts/DINWeb-CondBold.eot");
  src url("/fonts/DINWeb-CondBold.eot?#iefix") format("embedded-opentype"), url("/fonts/DINWeb-CondBold.woff?er2sl6") format("woff")
