*
  margin 0
  padding 0
  border 0
  outline 0
  vertical-align baseline

html
  font 14px / 1.4 Helvetica, Arial, Tahoma, Verdana, sans-serif
  padding 2em 3em

body
  margin 0 auto
  color #222
  background #FFF

h2
  font-family DINLight
  font-weight normal
  font-size fontSizeLarge
  margin-bottom marginSmall

section
  margin-bottom marginLarge

main
footer
  p
    margin-bottom marginNormal
  ul
  ol
    margin-bottom marginNormal
    list-style none

a
  text-decoration none
  &:hover
  &:active
    text-decoration underline
  main &
    color colorHighlight
  footer &
    color colorSubtle
