*
  margin 0
  padding 0
  border 0
  outline 0
  vertical-align baseline

html
  line-height 1.5
  font-family Helvetica, Arial, Tahoma, Verdana, sans-serif
  @media print
    font-size 10pt
  @media up_to_M
    font-size 14px
  @media M_and_up
    font-size 16px

body
  color $color-text
  background #FFF

section
  margin-bottom $margin-huge

h1
  margin-bottom $margin-tiny
  font-family DINCondBold
  font-weight normal
  font-size $font-size-huge
  line-height 1.2

h2
h3
h4
h5
h6
  font-family DINLight
  font-weight normal
  color $color-subtle
  letter-spacing -.02em
  pre + &
    margin-top $margin-huge

h2
  margin-bottom $margin-small
  font-size $font-size-large
  line-height 1.25

h3
  margin-top 1em
  margin-bottom $margin-tiny
  font-size $font-size-head
  line-height 1.4

h4
h5
h6
  margin-top 1em
  margin-bottom $margin-tiny
  font-size $font-size-subhead
  line-height 1.4

p
  margin-bottom $margin-normal

ul
ol
  margin-bottom $margin-large
  li + li
    margin-top $margin-small

pre
code
  border-radius .25em
  white-space pre

pre
  overflow-x auto
  margin-bottom $margin-large
  padding .4em .8em
  color #b9b5b8
  background darken($color-darkblue, 5)

code
  padding .2em .4em
  background $color-lightgray
  font-size $font-size-small
  pre &
    padding 0
    background none

ul
ol
  margin-left $margin-medium

a
  text-decoration none
  &:hover
  &:active
    text-decoration underline
  main &
    color $color-highlight
  footer &
    color $color-subtle
p
ul
ol
pre
  +
    h2
    h3
    h4
    h5
    h6
      margin-top $margin-medium
