*
  margin 0
  padding 0
  border 0
  outline 0
  vertical-align baseline

html
  padding 1.5em
  line-height 1.4
  font-family Helvetica, Arial, Tahoma, Verdana, sans-serif
  @media screen
    font-size 14px
  @media print
    font-size 10pt

body
  color #222
  background #FFF

section
  margin-bottom marginHuge

h2
  margin-bottom marginSmall
  font-family DINLight
  font-weight normal
  font-size fontSizeLarge
  color colorSubtle

p
ul
ol
    margin-bottom marginNormal

main
footer
  ul
  ol
    list-style none

a
  text-decoration none
  &:hover
  &:active
    text-decoration underline
  main &
    color colorHighlight
  footer &
    color colorSubtle
