body
  @media screen
    margin 0 auto
  @media up_to_L
    max-width widthMain
  @media L_and_up_and_print
    width widthMain + widthSpace + widthAside

#header
  @media up_to_L
    margin-bottom marginLarge
  @media L_and_up_and_print
    overflow hidden
    margin-bottom marginHuge
    .logo
      float right
      width widthAside
      margin-right logoJump

#main
  @media L_and_up_and_print
    clear both
    width widthMain

#footer
  @media L_and_up_and_print
    overflow hidden
    margin-top marginHuge
    h2
      display none
    .vcard
      float right
      width widthAside
