#nav
  margin-bottom marginHuge
  color #fff
  background colorDarkBlue

#header
  @media up_to_L
    margin-bottom marginLarge
  @media L_and_up_and_print
    overflow hidden
    margin-bottom marginHuge
    .logo
      float right
      width widthAside
      margin-right logoJump

#main
  @media L_and_up_and_print
    clear both
    width widthMain

#footer
  margin-bottom marginLarge
  @media L_and_up_and_print
    overflow hidden
    margin-top marginHuge
    h2
      display none
    .vcard
      float right
      width widthAside
