#nav
  margin-bottom $space-huge
  color #fff
  background $color-darkblue

#header
  margin-top $space-huge
  margin-bottom $space-large

  .home &
    display none

#footer
  margin-top $space-huge
  margin-bottom $space-large

.wrap
  padding-left $space-large
  padding-right $space-large

  @media screen
    max-width $width-main
    margin-left auto
    margin-right auto
