.logo
  display block
  text-decoration none
  background #FFF
  margin-left -1.725em
  &__slashes
  &__name
    display inline-block
    font-family DINCondBold
    font-size 3em
    letter-spacing -.03em
    color #000
  &__slashes
    color colorHighlight
    margin-right .05em
  &__claim
    display block
    font-family DINLight
    margin -.5em 0 0 1.4em
    font-size 1.25em
    color #222