.logo
  display block
  width widthAside
  margin 0 0 marginLarge (logoJump * -1)
  background #FFF
  text-decoration none
  &__slashes
  &__name
    display inline-block
    font-family DINCondBold
    font-size 3em
    letter-spacing -.03em
    color #000
  &__slashes
    color colorHighlight
    margin-right .075em
  &__claim
    display block
    font-family DINLight
    margin -.5em 0 0 1.2em
    font-size fontSizeLarge
    color #222