extends ../templates/layout
include ../templates/_articles

block title
  title=h.title("Articles: Frontend development with Elm, JavaScript, CSS and HTML")

block main
  section
    h2 Articles
    each articlesByYear in mvb.groupedArticles.byYear
      - articles = h.articles.filterByNoAlternate(articlesByYear.articles, h.lang(locals))
      section.articles_group
        h3.articles_group__title
          span.articles_group__title__year= articlesByYear.year
          small.articles_group__title__count #{articles.length} #{articles.length == 1 ? "article" : "articles"}
        +articles(articles, "blog")
    p.more
      a.more__link(href="https://archive.dennisreimann.de/") Archive
