extends /includes/layout
include /includes/articles

block title
  title=h.title("Artikel: Frontendentwicklung mit JavaScript, CSS and HTML")

block main
  section.top
    .wrap
      h1 Artikel

  section.wrap
    h1
    each articlesByYear in mvb.groupedArticles.byYear
      - articles = h.articles.filterByNoAlternate(articlesByYear.articles, h.lang(locals))
      section.articles_group
        h3.articles_group__title
          span.articles_group__title__year= articlesByYear.year
          small.articles_group__title__count #{articles.length} Artikel
        +articles(articles, "blog")
