extends ../templates/layout
include ../templates/articles

block title
  title Blog • Dennis Reimann: Frontend-Entwicklung mit JavaScript, CSS und HTML

block main
  section
    h2 Blog
    +articles(mvb.articles.reverse())
