extends /includes/layout

block main
  section.top
    .wrap
      h1 I help product teams to improve their development velocity and time to market.

  section.wrap
    :markdown-it(html linkify typographer)
      Fast iteration is key to ensuring you are solving the right problems.
      Teams are facing various challenges building innovative products:
      - How to establish a cohesive experience that fulfills your customers' needs?
      - How to ensure design and development communicate and work efficiently?
      - Moving quickly, how do you maintain quality, consistency and reliability?
      - And most meaningfully to you: how to sustain velocity doing all of that?

      Your goal is faster time to market and increased product value.
      Your team is eager, but struggling to deliver high quality with the required pace?

      ## UI engineering and design systems to the rescue …

      A modular UI toolkit that is easily accessible enables shorter iteration cycles.
      <mark>A solid design system and component library speed up your releases without compromising quality.</mark>
      Using these tools and techniques you will…
      - Deliver a consistent experience across all your products touchpoints
      - Create a streamlined process that reduces design and engineering time
      - Give designers and engineers the freedom to work on higher-order tasks
      - Raise the overall quality of your product and its many interfaces

      In brief: <mark>Waste less resources and money while your team can tackle the challenges that matter to your customers.</mark>

      ## How can I help?

      As a User Interface Engineer I help product teams to build applications based on a solid design system and component library.
      With an interdisciplinary skillset of development and design I assist in architecting, integrating and deploying complex systems;
      taking into account the multitude of concerns like user experience, performance and future maintenance.

      The benefits have various facets:
      - In the domain of e-commerce a consistent and coherent experience translates to customers trust.
      - SaaS teams improve the clarity of their product, which leads to efficiency for the end user.
      - Better performance increases conversion rates and delights your users.
      - Your whole team speaks a common language and has tighter communication loops.

  section.cta
    p Sounds like I can help?
    a(href="/contact.html") Let's talk!

  include /includes/hashtags

  section.wrap
    :markdown-it(html linkify typographer)
      I enjoy tackling ambitious goals as part of an interdisciplinary product team.
      Also, I like helping people to improve their skills and efficiency.
      I am available for consulting and engineering work offering these kinds of services:

      - Design system workshops and strategic consulting: From clarifying the _Why?_ to hands-on work and the integration of your design system.
      - UI engineering coaching: Improve the interdisciplinary work and communication of your designers and developers.
      - Technical consulting: technology evaluation and reviews, as well as web performance analysis and optimizations.

    p.more
      a.more__link(href="/projects.html") Previous consulting &amp; engineering projects

  section.uiengine
    .wrap
      :markdown-it(html linkify typographer)
        ## UIengine
        The toolkit we use for most of our project work is open source:
        The [UIengine](https://github.com/dennisreimann/uiengine) helps to create, document and evolve design systems.
        It is publicly available on GitHub and NPM.
        There are also some [introduction videos](https://www.youtube.com/watch?v=YBm_ye9da-Q&list=PLBXz0hPvV2jNAFb9KxvV-2Op8cy3tA8E2).

  section.wrap
    h2 Articles and public speaking
    ul
      li: a(href="/articles/uiengine-2-0.html") UIengine 2.0: Here's what changed
      li: a(href="/articles/uiengine-1-0.html") UIengine: A workbench for UI-driven development
      li: a(href="/articles/atomic-design-is-messy.html") Atomic Design is messy, here's what I prefer
      li: a(href="https://webinale.de/user-experience-design/ui-first-innovative-anwendungen-effizient-und-nutzerzentriert-entwickeln/") webinale 2018: UI First! Innovative Anwendungen effizient und nutzerzentriert entwickeln
      li: a(href="https://webmontag-bremen.de/events/wmhb-2018-2") Webmontag Bremen II/2018: UI First! Innovative Anwendungen effizient und nutzerzentriert entwickeln
      li: a(href="https://webinale.de/session/design-development-und-dazwischen/") webinale 2017: Design, Development und Dazwischen
      li: a(href="https://www.ecommerce-camp.de/redner-sessions/detail/session/show/7-tricks-fuer-frueheren-feierabend-und-kunden-die-dich-als-rockstar-feiern/") eCommerce Camp 2017: 7 Tricks für früheren Feierabend
      li: a(href="http://www.berlinops.de/talk/design-development-und-dazwischen-gemeinsam-besser-schneller-und-nachhaltiger-sites-apps-und-shops-bauen/") Berlin Ops 2016: Design, Development und Dazwischen
      li: a(href="http://webmontag-bremen.de/events/2016-03") Webmontag Bremen III/2016: Design, Development und Dazwischen

    p.more
      a.more__link(href="/articles.html") More articles

  section.uie
    .wrap
      :markdown-it(html linkify typographer)
        ## UI engineering

        In collaboration with my friend and colleague [Jan Persiel](https://janpersiel.com/)
        I am leading an initiative and hosting a podcast around the topic of [UI engineering](https://www.uiengineering.de/).
        The podcast and accompanying website are available in german.
