extends /includes/layout

block main
  section.top
    .wrap
      h1 Ich helfe Produktteams ihre Effizienz und Time&nbsp;to&nbsp;Market zu verbessern.

  section.wrap
    :marked
      Schnelles Iterieren ist der Schlüssel um sicherzustellen, dass man die richtigen Probleme löst.
      Sie und Ihr Team stehen vor vielen Herausforderungen bei der Erstellung eines innovativen Produkts:
      - Wie erzeugt man ein Nutzungserlebnis das die Kundenwünsche erfüllt?
      - Wie sicherstellen, dass Design und Entwicklung eng zusammen arbeiten?
      - Wie reagiert man auf Veränderungen und sichert dabei eine hohe Qualität?
      - Und am wichtigsten: Wie bleibt man bei all dem auch noch schnell?

      Ihr Ziel ist die ständige Verbesserung ihres Produkts bei gleichzeitig kurzer Time to Market.
      Das Team arbeitet fleißig, hat aber Schwierigkeiten, die hohe Qualität sicherzustellen und mit der geforderten Geschwindigkeit zu liefern?

      ## UI engineering und Design System als Innovationstreiber

      Ein modulares und allen zur Verfügung stehendes UI Toolkit ermöglicht kürzere Iterationszyklen.
      <mark>Ein solides Design System und die dazugehörigen Komponenten beschleunigen Releases ohne Qualitätseinbußen.</mark>
      Mit den entsprechenden Tools und Techniken werden Sie …
      - Ein durchgängiges Nutzungserlebnis über all ihre Produkte hinweg liefern.
      - Fortschrittliche Prozesse etablieren, die die Entwicklungsdauer reduzieren.
      - Design und Entwicklung ermöglichen, die wichtigen Aufgaben anzugehen.
      - Die Qualität ihres Produkts und seiner Interfaces im Allgemeinen steigern.

      Kurz gesagt: <mark>Verschwenden Sie weniger Ressourcen und Geld, während Ihr Team sich um die Probleme ihrer Kunden kümmern kann.</mark>

  section.wrap
    include /includes/quotePhilipp

  section.wrap
    :marked
      ## Wie kann ich helfen?

      Als User Interface Engineer unterstütze ich Produktteams dabei, ihre Effizienz und Time to Market zu verbessern.
      Mit einem interdisziplinären Skillset von Entwicklung und Design helfe ich beim Aufbau und der Integration Ihres Design Systems.
      Dabei berücksichtige ich die Vielzahl von Einflußfaktoren, wie beispielsweise User Experience, Performance und zukünftige Wartbarkeit.

      Die Auswirkungen dessen sind vielfältig:
      - Im eCommerce bedeutet ein konsistentes und durchgängiges Nutzungserlebnis Kundenzufriedenheit und Vertrauen.
      - Die Benutzerführung Ihrer Anwendung wird klarer; ein leicht übersichtliches Produkts erhöht die Effizienz Ihrer Nutzer.
      - Performance-Optimierungen steigern die Conversion Rate und hinterlassen zufriedenere Kunden.
      - Das ganze Team hat eine gemeinsame Sprache und ist in engerer Abstimmung miteinander …

  section.wrap
    include /includes/quoteSaskia

  section.cta
    p Klingt als könnte ich helfen?
    a(href="/kontakt.html") Los geht's!

  include /includes/hashtags

  section
    .wrap
      :marked
        ## Beratung und Coaching

        Ich habe Freude daran, als Teil eines interdisziplinären Teams ambitionierte Ziele in Angriff zu nehmen.
        Ebenso helfe ich gerne Leuten, ihre Fähigkeiten auszubauen, effizienter und dadurch zufriedener zu werden.

      include /includes/quoteRico

      :marked
        Im Rahmen der folgenden Tätigkeiten unterstütze ich Teams und Unternehmen, die gesteckten Ziele zu erreichen
        und gleichzeitig ihre Arbeitsweise zu verbessern:

        - **Design System Workshops und strategische Beratung**: Vom _Warum?_, über die praktische Arbeit bis zur Integration.
        - **UI engineering Coaching**: Die interdisziplinäre Zusammenarbeit von Design und Entwicklung nachhaltig verbessern.
        - **Technische Beratung**: Technologie-Evaluation und Reviews, sowie Analyse und Optimierung der Web Performance.

      p.more
        a.more__link(href="/projekte.html") Vorige Projekte

  section.wrap
    h2 Artikel und Vorträge
    ul
      li: a(href="/articles/uiengine-2-0.html") UIengine 2.0: Here's what changed
      li: a(href="/articles/uiengine-1-0.html") UIengine: A workbench for UI-driven development
      li: a(href="/articles/atomic-design-is-messy.html") Atomic Design is messy, here's what I prefer
      li: a(href="https://webinale.de/user-experience-design/ui-first-innovative-anwendungen-effizient-und-nutzerzentriert-entwickeln/") webinale 2018: UI First! Innovative Anwendungen effizient und nutzerzentriert entwickeln
      li: a(href="https://webmontag-bremen.de/events/wmhb-2018-2") Webmontag Bremen II/2018: UI First! Innovative Anwendungen effizient und nutzerzentriert entwickeln
      li: a(href="https://webinale.de/session/design-development-und-dazwischen/") webinale 2017: Design, Development und Dazwischen
      li: a(href="https://www.ecommerce-camp.de/redner-sessions/detail/session/show/7-tricks-fuer-frueheren-feierabend-und-kunden-die-dich-als-rockstar-feiern/") eCommerce Camp 2017: 7 Tricks für früheren Feierabend
      li: a(href="/articles/living-pattern-library.html") Living Pattern Libraries: Wie man Styleguide-Zombies killt …
      li: a(href="https://www.berlinops.de/talk/design-development-und-dazwischen-gemeinsam-besser-schneller-und-nachhaltiger-sites-apps-und-shops-bauen/") Berlin Ops 2016: Design, Development und Dazwischen
      li: a(href="https://webmontag-bremen.de/events/2016-03") Webmontag Bremen III/2016: Design, Development und Dazwischen

    p.more
      a.more__link(href="/articles.html") Weitere Artikel

  section.uie
    .wrap
      :marked
        ## UI engineering

        Zusammen mit meinem Freund und Kollegen [Jan Persiel](https://janpersiel.com/)
        leite ich eine Initiative zum [UI engineering](https://www.uiengineering.de/).
        Wir setzen uns dafür ein, durch enge Zusammenarbeit von Design und Entwicklung schneller bessere und nachhaltigere Ergebnisse zu erzielen.
        Unser [Podcast](https://www.uiengineering.de/podcast.html) gibt Einblicke zur Arbeitsweise und enthält Interviews zum UI engineering.

        Die [UIengine](https://github.com/dennisreimann/uiengine) bietet das Tooling rund um die Erstellung, Dokumentation und Integration von Design Systemen.
        Das Projekt ist Open Source und auf GitHub sowie NPM veröffentlicht.
