extends /includes/layout
include /includes/icon
include /includes/articles

mixin hashtag(word)
  strong.hashtag
    span.hashtag__hash #
    span.hashtag__tag= word

block main
  section.top
    .wrap
      h1 Would you like to increase your products'&nbsp;velocity and time to market?

  section.wrap.intro
    :marked
      Fast iteration is key to ensure you are solving the right problems.
      You and your team are facing lots of challenges building an innovative product:
      - How to establish a cohesive experience that fulfills your customers needs?
      - How to ensure design and development communicate and work efficiently?
      - Moving quickly, how do you maintain quality, consistency and reliability?
      - And most meaningfully to you: how to sustain velocity doing all of that?

      Your goal is faster time to market and increased product value.
      Your team is eager, but struggling to deliver high quality with the required pace?

      ## Enter UI engineering and design systems

      A modular UI toolkit that is easily accessible enables shorter iteration cycles.
      <mark>A solid design system and component library speed up your releases without compromising quality.</mark>
      Using these tools and techniques you will…
      - Deliver a consistent experience across all your products touchpoints
      - Create a streamlined process that reduces design and engineering time
      - Give designers and engineers the freedom to work on higher-order tasks
      - Raise the overall quality of your product and its many interfaces

      In brief: Waste less resources and money while your team can tackle the challenges that matter to your customers.

      ## How can I help?

      As a User Interface Engineer I help product teams to build applications based on a solid design system and component library.
      With an interdisciplinary skillset of development and design I assist in architecting, integrating and deploying complex systems;
      taking into account the multitude of concerns like user experience, performance and future maintenance.

      The benefits have various facets:
      In the domain of e-commerce a consistent and coherent experience translates to customers trust.
      SaaS teams improve the clarity of their product, which leads to efficiency for the end user.
      Better performance increases the conversion rates and delights your users.
      Your whole team speaks a common language and has tighter communication loops.

  section.cta
    p Sounds like I can help?
    a(href="/contact.html") Let's talk!

  section.hashtags
    .wrap
      +hashtag("uiengineering")
      +hashtag("designsystems")
      +hashtag("uicomponents")
      +hashtag("patternlibrary")
      +hashtag("ux")
      +hashtag("styleguide")
      +hashtag("webperformance")
      +hashtag("prototyping")
      +hashtag("testing")
      +hashtag("documentation")

  section.wrap
    :marked
      I enjoy tackling ambitious goals as part of an interdisciplinary product team.
      Also, I like to help people improving their skills and efficiency.
      I am available for consulting and engineering work offering these kinds of services:

      - UI engineering coaching and workshops
      - Training for improving interdisciplinary work
      - Technology reviews and evaluations
      - Project work as part of a product team

    p.more
      a.more__link(href="/projects.html") Previous consulting & engineering projects

  section.wrap
    h2 Public speaking
    ul
      li: a.more__link(href="https://webinale.de/session/design-development-und-dazwischen/") webinale 2017: Design, Development und Dazwischen
      li: a.more__link(href="https://www.ecommerce-camp.de/redner-sessions/detail/session/show/7-tricks-fuer-frueheren-feierabend-und-kunden-die-dich-als-rockstar-feiern/") eCommerce Camp 2017: 7 Tricks für früheren Feierabend und Kunden, die Dich als Rockstar feiern
      li: a.more__link(href="http://www.berlinops.de/talk/design-development-und-dazwischen-gemeinsam-besser-schneller-und-nachhaltiger-sites-apps-und-shops-bauen/") Berlin Ops 2016: Design, Development und Dazwischen
      li: a.more__link(href="http://webmontag-bremen.de/events/2016-03") Webmontag Bremen III/2016: Design, Development und Dazwischen

  section.wrap
    :marked
      ## Related projects

      In collaboration with my friend and colleague [Jan Persiel](https://janpersiel.com/)
      I am leading an initiative and hosting a podcast around the topic of [UI engineering](https://www.uiengineering.de/).
      The podcast and accompanying website are available in german.

      I have created and open sourced the toolkit we use for most of our project work:
      The [UIengine](https://github.com/dennisreimann/uiengine) helps to create, document and evolve design systems collaboratively.
      It is publicly available on GitHub and NPM.


  section.wrap
    :marked
