extends /includes/layout

block main
  section
    h2= h.t(locals, "Offline Modus", "Offline mode")
    p= h.t(locals, "Sie sind aktuell scheinbar nicht mit dem Internet verbunden. Im Offline Modus können Sie weiterhin gecachte Seiten abrufen.", "It seems you are not connected to the internet. In offline mode you can still browse cached pages.")
