extends /includes/layout

block main
  section.top
    .wrap
      h1 Offline mode

  section.wrap
    p
      | It seems you are not connected to the internet.
      | In offline mode you can still browse cached pages.
