extends /includes/layout

block title
  title=h.title("You need help or someone to share ideas with?")

block main
  section.top
    .wrap
      h1 You need help or someone to share ideas with?

  section.wrap
    :marked
      Maybe you are not sure about how to implement something or just need a second opinion.
      Or you need help planning a feature, creating a wireframe, or mocking something up.

      Each week I am offering up to 90 minutes on Friday, so we can work on UI related things together.
      It is easy: [Choose your preferred date and time](https://calendly.com/dennisreimann/ui-pairing/), I will contact you so we can discuss the details :)

      ## No strings attached!

      <mark>It is free, you neither have to pay nor am I expecting anything in return.</mark>

      Why am I doing this?
      I am looking for new ways to connect with people; get to know their work and approaches to solving problems.
      I also like to challenge my opinions and assumptions.
      That is why I am offering this for free – both of us will benefit and ideally have a good time :)

  section.cta
    p If you have something in mind we could work on, do not hesitate …
    a(href="https://calendly.com/dennisreimann/ui-pairing/" target="_blank") Get in touch!

  include /includes/hashtags
