extends /includes/layout
include /includes/icon

block main
  section.wrap
    h2 Projekte und Kunden

    .project
      h3.project__name
        | (Projekt und Kunde nicht öffentlich, da noch nicht online)
      p.project__description
        | Responsive Relaunch eines B2B Webshops und der dazugehörigen Mobile App.
        | Die Entwicklung des User Interface wurde per Prototyping und komponentenbasiert getrieben.
      .project__task
        +icon("project-task").project__icon.project__icon--task
        ul
          li Aufbau des Design Systems und der Komponentenbibliothek.
          li Frontendentwicklung mit JavaScript, CSS und HTML.
      p.project__context
        +icon("project-context").project__icon.project__icon--context
        | Auftragsarbeit für die
        = " "
        a(href="https://www.neuland-bfi.de" rel="external noopener" target="_blank") neuland bremen GmbH
      p.project__period
        +icon("project-period").project__icon.project__icon--period
        | Februar 2017&ndash;Juni 2017

    .project
      h3.project__name
        | (Projekt und Kunde nicht öffentlich, da noch nicht online)
      p.project__description
        | Architektur-Relaunch eines Fashion und Lifestyle Webshops.
      .project__task
        +icon("project-task").project__icon.project__icon--task
        ul
          li Frontendarchitektur für den Microservice-basierten, responsive Webshop.
          li Aufbau des Design Systems und der Komponentenbibliothek.
          li Frontendentwicklung mit JavaScript, CSS und HTML.
      p.project__context
        +icon("project-context").project__icon.project__icon--context
        | Auftragsarbeit für die
        = " "
        a(href="http://talentformation.com/" rel="external noopener" target="_blank") talentformation.com GmbH
      p.project__period
        +icon("project-period").project__icon.project__icon--period
        | Mai 2016&ndash;November 2016

    .project
      h3.project__name
        a(href="https://www.kl-ruppert.de/" rel="external noopener" target="_blank") K&amp;L Ruppert
      p.project__description
        | Responsive Relaunch des K&amp;L Ruppert Webshops.
      .project__task
        +icon("project-task").project__icon.project__icon--task
        ul
          li Frontendarchitektur für den responsive Webshop.
          li Frontendentwicklung mit JavaScript, CSS und HTML.
          li Build-Prozess, Dokumentation und Pattern Library.
      p.project__context
        +icon("project-context").project__icon.project__icon--context
        | Auftragsarbeit für die
        = " "
        a(href="http://talentformation.com/" rel="external noopener" target="_blank") talentformation.com GmbH
      p.project__period
        +icon("project-period").project__icon.project__icon--period
        | Februar 2016&ndash;April 2016

    .project
      h3.project__name
        a(href="https://www.galeria-kaufhof.de/" rel="external noopener" target="_blank") Galeria Kaufhof
      p.project__description
        | Unter dem Projektnamen
        = " "
        a(href="http://galeria-kaufhof.github.io/general/2014/09/20/jump-ein-technologiesprung-bei-galeria-kaufhof/" rel="external noopener" target="_blank") JUMP
        = " "
        | wurde der Galeria Kaufhof Webshop im Sommer 2015 mit einer komplett neuen Technologiebasis
        | gerelauncht. Dabei arbeitete ich seit Frühjahr 2014 als Teil des Teams Frontend-Integration
        | an der Architektur, dem dazugehörigen Styleguide und Anbindung der Microservice-Backendsysteme.
        | Im Verlauf des Projekts wurden zusätzlich Themen wie Performance-Monitoring/Optimierung
        | sowie funktionale und visuelle Regressionstests adressiert.
      .project__task
        +icon("project-task").project__icon.project__icon--task
        ul
          li Frontendarchitektur für den Microservice-basierten, responsive Webshop.
          li Frontendentwicklung mit JavaScript, CSS und HTML.
          li Build-Prozess, Styleguide und Dokumentation.
          li Performance-Monitoring und Optimierung für globale Assets.
      p.project__context
        +icon("project-context").project__icon.project__icon--context
        | Auftragsarbeit für die
        = " "
        a(href="https://www.neuland-bfi.de" rel="external noopener" target="_blank") neuland bremen GmbH
      p.project__period
        +icon("project-period").project__icon.project__icon--period
        | April 2014&ndash;Januar 2016
