extends /includes/layout
include /includes/icon

block main
  section
    h2 Kunden und Projekte
    ol.projects
      li.project
        h3.project__name
          a(href="https://www.kl-ruppert.de/" rel="external noopener" target="_blank") K&amp;L Ruppert
        p.project__description
          | Responsive Relaunch des K&amp;L Ruppert Webshops.
        p.project__task
          +icon("project-task").project__icon.project__icon--task
          | Aufbau der Frontend-Architektur für den responsive Webshop. Frontendentwicklung mit
          | JavaScript, CSS und HTML. Build-Prozess, Dokumentation und Pattern Library.
        p.project__context
          +icon("project-context").project__icon.project__icon--context
          | Auftragsarbeit für die&nbsp;
          a(href="http://talentformation.com/" rel="external noopener" target="_blank") talentformation.com GmbH
        p.project__period
          +icon("project-period").project__icon.project__icon--period
          | Februar 2016&ndash;April 2016
      li.project
        h3.project__name
          a(href="https://www.galeria-kaufhof.de/" rel="external noopener" target="_blank") Galeria Kaufhof
        p.project__description
          | Unter dem Projektnamen
          = " "
          a(href="http://galeria-kaufhof.github.io/general/2014/09/20/jump-ein-technologiesprung-bei-galeria-kaufhof/" rel="external noopener" target="_blank") JUMP
          = " "
          | wurde der Galeria Kaufhof Webshop im Sommer 2015 mit einer komplett neuen Technologiebasis
          | gerelauncht. Dabei arbeitete ich seit Frühjahr 2014 als Teil des Teams Frontend-Integration
          | an der Architektur, dem dazugehörigen Styleguide und Anbindung der Microservice-Backendsysteme.
          | Im Verlauf des Projekts wurden zusätzlich Themen wie Performance-Monitoring/Optimierung
          | sowie funktionale und visuelle Regressionstests adressiert.
        p.project__task
          +icon("project-task").project__icon.project__icon--task
          | Aufbau der Frontend-Architektur für den Microservice-basierten, full responsive Webshop. Frontendentwicklung mit
          | JavaScript, CSS und HTML. Build-Prozess, Dokumentation, Tests, Performance-Monitoring und Optimierung
          | für globale Assets und Styleguide.
        p.project__context
          +icon("project-context").project__icon.project__icon--context
          | Auftragsarbeit für die
          = " "
          a(href="https://neuland-bfi.de" rel="external noopener" target="_blank") neuland bremen GmbH
        p.project__period
          +icon("project-period").project__icon.project__icon--period
          | April 2014&ndash;Januar 2016
      li.project
        h3.project__name
          a(href="https://www.breuninger.de/" rel="external noopener" target="_blank") Breuninger Guided Selling
        p.project__description
          | Bei Guided Selling handelt es sich um eine Multichannel-Anwendung, die von Breuninger
          | in den Filialen eingesetzt wird. Sie wird in den Breuninger Kaufhäusern von den Verkäufern
          | benutzt, um Kunden stationär nicht verfügbare Produkte über den Webshop anzubieten.
        p.project__task
          +icon("project-task").project__icon.project__icon--task
          | Frontendentwicklung mit Elm, JavaScript, CSS und HTML. Responsive Webdesign. Konzeption von
          | Benutzerinteraktionen und Integration von Backend-Schnittstellen.
        p.project__context
          +icon("project-context").project__icon.project__icon--context
          | Auftragsarbeit für die
          = " "
          a(href="https://neuland-bfi.de" rel="external noopener" target="_blank") neuland bremen GmbH
        p.project__period
          +icon("project-period").project__icon.project__icon--period
          | Februar 2014&ndash;April 2014
      //- li.project
      //-   h3.project__name
      //-     a(href="https://itunes.apple.com/de/app/airberlin-your-airline/id409129262?mt=8" rel="external noopener" target="_blank") airberlin iPhone App
      //-   p.project__description
      //-     | iOS 7-Relaunch der airberlin iPhone App, mit Funktionen zur Flugbuchung, Sitzplatzauswahl,
      //-     | Check-In mit Passbook-Integration und Reiseinformationen.
      //-   p.project__task
      //-     +icon("project-task").project__icon.project__icon--task
      //-     | Softwareentwicklung mit dem iOS SDK und Xcode. Konzeption von
      //-     | Benutzerinteraktionen und Integration von Backend-Schnittstellen.
      //-   p.project__context
      //-     +icon("project-context").project__icon.project__icon--context
      //-     | Auftragsarbeit für die&nbsp;
      //-     a(href="https://www.hmmh.de/" rel="external noopener" target="_blank") hmmh multimediahaus AG
      //-   p.project__period
      //-     +icon("project-period").project__icon.project__icon--period
      //-     | Januar 2014&ndash;Februar 2014
      li.project
        h3.project__name
          | Teasd
        p.project__description
          | Prototyp einer Webanwendung zur Erzeugung von responsive Teasern.
        p.project__task
          +icon("project-task").project__icon.project__icon--task
          | Softwareentwicklung mit Angular.js und HTML5, sowie Node.js und Socket.io.
        p.project__context
          +icon("project-context").project__icon.project__icon--context
          | Auftragsarbeit für die&nbsp;
          a(href="http://precious-forever.com/" rel="external noopener" target="_blank") precious Gesellschaft für Design mbH
        p.project__period
          +icon("project-period").project__icon.project__icon--period
          | Dezember 2013&ndash;Januar 2014
      li.project
        h3.project__name
          a(href="https://www.breuninger.de/" rel="external noopener" target="_blank") Breuninger
        p.project__description
          | Full Responsive Relaunch des Breuninger Webshops.
        p.project__task
          +icon("project-task").project__icon.project__icon--task
          | Frontendentwicklung, Responsive Webdesign
        p.project__context
          +icon("project-context").project__icon.project__icon--context
          | Auftragsarbeit für die&nbsp;
          a(href="https://neuland-bfi.de" rel="external noopener" target="_blank") neuland bremen GmbH
        p.project__period
          +icon("project-period").project__icon.project__icon--period
          | Juli 2013&ndash;Oktober 2013
    //- p.more
    //-   | Ebenso
    //-   = " "
    //-   a(href="https://www.uiengineering.de" rel="external noopener" target="_blank") UI engineering
    //-   = " "
    //-   | inklusive Podcast … sowie weitere, private Projekte, die auch als Spielwiese und Versuchskaninchen dienen.
    //-   | Wie zum Beispiel
    //-   = " "
    //-   a(href="https://vomrost.de/" rel="external noopener" target="_blank") Vom Rost - mein Blog zum Grillen und BBQ
    //-   | .

    //- p.more
    //-   a.more__link(href="https://archive.dennisreimann.de/projects") Vorige Projekte
