extends /includes/layout
include /includes/icon

block main
  section.top
    .wrap
      h1 Projekte und Kunden

  section.wrap
    .project
      h3.project__name
        a(href="https://einundzwanzig.space/" rel="external noopener") Einundzwanzig
      p.project__description
        | Entwicklung der Einundzwanzig Website und des dazugehörigen Onlineshops.
      .project__task
        +icon("project-task", h.t(locals, "Aufgabe", "Task")).project__icon.project__icon--task
        ul
          li Frontendentwicklung mit HTML, CSS und JavaScript.
          li Webshop mit WooCommerce und BTCPay Server Integration.
          li Buildprozess und Automatisierung auf GitHub Pages.
      p.project__context
        +icon("project-context", h.t(locals, "Kontext", "Context")).project__icon.project__icon--context
        = "Freiwillige Arbeit für unser Podcast-Projekt"
      p.project__period
        +icon("project-period", h.t(locals, "Zeitraum", "Period")).project__icon.project__icon--period
        | Oktober 2020&ndash;heute

    .project
      h3.project__name
        a(href="https://squarecrypto.org/" rel="external noopener") Square Crypto
      p.project__description
        | Entwicklung der Square Crypto Website.

      .project__task
        +icon("project-task", h.t(locals, "Aufgabe", "Task")).project__icon.project__icon--task
        ul
          li Frontendentwicklung mit HTML, CSS und JavaScript.
          li Eastereggs.
      p.project__context
        +icon("project-context", h.t(locals, "Kontext", "Context")).project__icon.project__icon--context
        = "Auftragsarbeit für "
        a(href="https://squarecrypto.org/" rel="external noopener") Square Crypto
      p.project__period
        +icon("project-period", h.t(locals, "Zeitraum", "Period")).project__icon.project__icon--period
        | September 2020

    .project
      h3.project__name
        a(href="https://bitcoindevlist.com/" rel="external noopener") Bitcoin Dev List
      p.project__description
        | Spendenportal für Bitcoin Entwickler.
      .project__task
        +icon("project-task", h.t(locals, "Aufgabe", "Task")).project__icon.project__icon--task
        ul
          li Frontendentwicklung mit HTML, CSS und JavaScript.
          li Buildprozess und Automatisierung auf GitHub Pages.
      p.project__context
        +icon("project-context", h.t(locals, "Kontext", "Context")).project__icon.project__icon--context
        = "Freiwillige Arbeit für die Bitcoin Community"
      p.project__period
        +icon("project-period", h.t(locals, "Zeitraum", "Period")).project__icon.project__icon--period
        | Juli 2020

    .project
      h3.project__name
        a(href="https://btcpayserver.org/" rel="external noopener") BTCPay Server
      p.project__description
        | UI-bezogene Feature-Entwicklung. Aufbau und Wartung der offiziellen BTCPay Server
        | Dokumentation und des Design Systems.

      .project__task
        +icon("project-task", h.t(locals, "Aufgabe", "Task")).project__icon.project__icon--task
        ul
          li Aufbau des Design Systems.
          li Frontendentwicklung mit Vue/JavaScript, CSS und HTML.
          li Setup und Betrieb der Dokumentations-Website.
          li Feature-Entwicklung mit C# und ASP.NEET MVC Core.
      p.project__context
        +icon("project-context", h.t(locals, "Kontext", "Context")).project__icon.project__icon--context
        = "Auftragsarbeit für die "
        a(href="https://foundation.btcpayserver.org/" rel="external noopener") BTCPay Server Foundation
      p.project__period
        +icon("project-period", h.t(locals, "Zeitraum", "Period")).project__icon.project__icon--period
        | November 2019&ndash;heute

    .project
      h3.project__name
        a(href="https://www.obi-next.de/" rel="external noopener") OBI next
      p.project__description
        | Micro-Frontends Architektur für das Sales Representatives Tool von OBI next.

      .project__task
        +icon("project-task", h.t(locals, "Aufgabe", "Task")).project__icon.project__icon--task
        ul
          li Aufbau des Design Systems und der Komponentenbibliothek.
          li Frontendentwicklung mit Vue/JavaScript, CSS und HTML.
      p.project__context
        +icon("project-context", h.t(locals, "Kontext", "Context")).project__icon.project__icon--context
        = "Auftragsarbeit für "
        a(href="https://www.reply.com/open-reply/de/" rel="external noopener") Open Reply
      p.project__period
        +icon("project-period", h.t(locals, "Zeitraum", "Period")).project__icon.project__icon--period
        | Mai 2019&ndash;März 2020

    .project
      h3.project__name
        a(href="https://www.klingel-gruppe.de" rel="external noopener") KLiNGEL Gruppe
      p.project__description
        | Vertikalisierter Architektur-Relaunch der Webshop-Plattform für die KLiNGEL Gruppe.

      .project__task
        +icon("project-task", h.t(locals, "Aufgabe", "Task")).project__icon.project__icon--task
        ul
          li Aufbau des Design Systems und der Komponentenbibliothek.
          li Frontendentwicklung mit JavaScript, CSS und HTML.
      p.project__context
        +icon("project-context", h.t(locals, "Kontext", "Context")).project__icon.project__icon--context
        = "Auftragsarbeit für die "
        a(href="https://www.neuland-bfi.de" rel="external noopener") neuland bremen GmbH
      p.project__period
        +icon("project-period", h.t(locals, "Zeitraum", "Period")).project__icon.project__icon--period
        | Juli 2018&ndash;März 2019

      include /includes/quoteSaskia

    .project
      h3.project__name
        a(href="https://www.1und1.de/" rel="external noopener") 1&1
      p.project__description
        | Responsive Relaunch der Website.

      .project__task
        +icon("project-task", h.t(locals, "Aufgabe", "Task")).project__icon.project__icon--task
        ul
          li Aufbau der Komponentenbibliothek.
          li Frontendentwicklung mit JavaScript, CSS und HTML.
      p.project__context
        +icon("project-context", h.t(locals, "Kontext", "Context")).project__icon.project__icon--context
        = "Auftragsarbeit für die "
        a(href="https://www.hmmh.de" rel="external noopener") hmmh multimediahaus AG
      p.project__period
        +icon("project-period", h.t(locals, "Zeitraum", "Period")).project__icon.project__icon--period
        | Februar 2018&ndash;März 2018

    .project
      h3.project__name
        a(href="https://www.breuninger.de/" rel="external noopener") Breuninger
      p.project__description
        | Entwicklung des Webshops und Erstellung von Backoffice-Anwendungen.

      .project__task
        +icon("project-task", h.t(locals, "Aufgabe", "Task")).project__icon.project__icon--task
        ul
          li Frontendarchitektur für das interne Webshop-Backoffice.
          li Aufbau der Komponentenbibliothek mit Vue.js und Semantic UI.
          li Frontendentwicklung mit Vue.js, JavaScript, CSS und HTML.
      p.project__context
        +icon("project-context", h.t(locals, "Kontext", "Context")).project__icon.project__icon--context
        = "Auftragsarbeit für die "
        a(href="http://talentformation.com/" rel="external noopener") talentformation.com GmbH
      p.project__period
        +icon("project-period", h.t(locals, "Zeitraum", "Period")).project__icon.project__icon--period
        | August 2017&ndash;Februar 2018

    .project
      h3.project__name
        a(href="https://itunes.apple.com/de/app/granit-parts/id476574650?mt=8" rel="external noopener") Granit Parts
      p.project__description
        | Responsive Relaunch eines B2B Webshops und der dazugehörigen Mobile App.
        | Die Entwicklung des User Interface wurde per Prototyping und komponentenbasiert getrieben.
      .project__task
        +icon("project-task", h.t(locals, "Aufgabe", "Task")).project__icon.project__icon--task
        ul
          li Aufbau des Design Systems und der Komponentenbibliothek.
          li Frontendentwicklung mit JavaScript, CSS und HTML.
      p.project__context
        +icon("project-context", h.t(locals, "Kontext", "Context")).project__icon.project__icon--context
        = "Auftragsarbeit für die "
        a(href="https://www.neuland-bfi.de" rel="external noopener") neuland bremen GmbH
      p.project__period
        +icon("project-period", h.t(locals, "Zeitraum", "Period")).project__icon.project__icon--period
        | Februar 2017&ndash;Juni 2017

    .project
      h3.project__name
        a(href="https://www.breuninger.de/" rel="external noopener") Breuninger
      p.project__description
        | Architektur-Relaunch eines Fashion und Lifestyle Webshops.

      .project__task
        +icon("project-task", h.t(locals, "Aufgabe", "Task")).project__icon.project__icon--task
        ul
          li Frontendarchitektur für den Microservice-basierten, responsive Webshop.
          li Aufbau des Design Systems und der Komponentenbibliothek.
          li Frontendentwicklung mit JavaScript, CSS und HTML.
      p.project__context
        +icon("project-context", h.t(locals, "Kontext", "Context")).project__icon.project__icon--context
        = "Auftragsarbeit für die "
        a(href="http://talentformation.com/" rel="external noopener") talentformation.com GmbH
      p.project__period
        +icon("project-period", h.t(locals, "Zeitraum", "Period")).project__icon.project__icon--period
        | Mai 2016&ndash;November 2016

      include /includes/quotePhilipp

    .project
      h3.project__name
        a(href="https://www.kl-ruppert.de/" rel="external noopener") K&amp;L Ruppert
      p.project__description
        | Responsive Relaunch des K&amp;L Ruppert Webshops.
      .project__task
        +icon("project-task", h.t(locals, "Aufgabe", "Task")).project__icon.project__icon--task
        ul
          li Frontendarchitektur für den responsive Webshop.
          li Frontendentwicklung mit JavaScript, CSS und HTML.
          li Build-Prozess, Dokumentation und Pattern Library.
      p.project__context
        +icon("project-context", h.t(locals, "Kontext", "Context")).project__icon.project__icon--context
        = "Auftragsarbeit für die "
        a(href="http://talentformation.com/" rel="external noopener") talentformation.com GmbH
      p.project__period
        +icon("project-period", h.t(locals, "Zeitraum", "Period")).project__icon.project__icon--period
        | Februar 2016&ndash;April 2016

    .project
      h3.project__name
        a(href="https://www.galeria-kaufhof.de/" rel="external noopener") Galeria Kaufhof
      p.project__description
        = "Unter dem Projektnamen "
        a(href="http://galeria-kaufhof.github.io/general/2014/09/20/jump-ein-technologiesprung-bei-galeria-kaufhof/" rel="external noopener") JUMP
        = " "
        | wurde der Galeria Kaufhof Webshop im Sommer 2015 mit einer komplett neuen Technologiebasis
        | gerelauncht. Dabei arbeitete ich seit Frühjahr 2014 als Teil des Teams Frontend-Integration
        | an der Architektur, dem dazugehörigen Styleguide und Anbindung der Microservice-Backendsysteme.
        | Im Verlauf des Projekts wurden zusätzlich Themen wie Performance-Monitoring/Optimierung
        | sowie funktionale und visuelle Regressionstests adressiert.

      .project__task
        +icon("project-task", h.t(locals, "Aufgabe", "Task")).project__icon.project__icon--task
        ul
          li Frontendarchitektur für den Microservice-basierten, responsive Webshop.
          li Frontendentwicklung mit JavaScript, CSS und HTML.
          li Build-Prozess, Styleguide und Dokumentation.
          li Performance-Monitoring und Optimierung für globale Assets.
      p.project__context
        +icon("project-context", h.t(locals, "Kontext", "Context")).project__icon.project__icon--context
        = "Auftragsarbeit für die "
        a(href="https://www.neuland-bfi.de" rel="external noopener") neuland bremen GmbH
      p.project__period
        +icon("project-period", h.t(locals, "Zeitraum", "Period")).project__icon.project__icon--period
        | April 2014&ndash;Januar 2016

      include /includes/quoteRico
