extends /includes/layout
include /includes/icon

block main
  section.wrap
    h2 Projects and clients

    .project
      h3.project__name
        | (Project name redacted, not online yet)
      p.project__description
        | Responsive relaunch of a B2B webshop and corresponding mobile app,
        | driven by a component library and frontend prototyping.
      .project__task
        +icon("project-task").project__icon.project__icon--task
        ul
          li Establishing the design system and component library.
          li Frontend development with JavaScript, CSS and HTML.
      p.project__context
        +icon("project-context").project__icon.project__icon--context
        | Contract work for the
        = " "
        a(href="https://www.neuland-bfi.de" rel="external noopener" target="_blank") neuland bremen GmbH
      p.project__period
        +icon("project-period").project__icon.project__icon--period
        | February 2017&ndash;June 2017

    .project
      h3.project__name
        | (Project name redacted)
      p.project__description
        | Architecture relaunch of a fashion and lifestyle webshop and its infrastructure.
      .project__task
        +icon("project-task").project__icon.project__icon--task
        ul
          li Frontend architecture for the microservice-based webshop.
          li Establishing the design system and component library.
          li Frontend development with JavaScript, CSS and HTML.
      p.project__context
        +icon("project-context").project__icon.project__icon--context
        | Contract work for the
        = " "
        a(href="http://talentformation.com/" rel="external noopener" target="_blank") talentformation.com GmbH
      p.project__period
        +icon("project-period").project__icon.project__icon--period
        | May 2016&ndash;November 2016

    .project
      h3.project__name
        a(href="https://www.kl-ruppert.de/" rel="external noopener" target="_blank") K&amp;L Ruppert
      p.project__description
        | Responsive relaunch of the K&amp;L Ruppert webshop.
      .project__task
        +icon("project-task").project__icon.project__icon--task
        ul
          li Frontend architecture for the responsive webshop.
          li Frontend development with JavaScript, CSS and HTML.
          li Establishing the build process, documentation and component library.
      p.project__context
        +icon("project-context").project__icon.project__icon--context
        | Contract work for the
        = " "
        a(href="http://talentformation.com/" rel="external noopener" target="_blank") talentformation.com GmbH
      p.project__period
        +icon("project-period").project__icon.project__icon--period
        | February 2016&ndash;April 2016

    .project
      h3.project__name
        a(href="https://www.galeria-kaufhof.de/" rel="external noopener" target="_blank") Galeria Kaufhof
      p.project__description
        | Architecture relaunch of the Galeria Kaufhof webshop and its infrastructure.
      .project__task
        +icon("project-task").project__icon.project__icon--task
        ul
          li Frontend architecture for the microservice-based webshop.
          li Frontend development with JavaScript, CSS and HTML.
          li Establishing the build process, documentation and style guide.
          li Performance monitoring and optimization.
      p.project__context
        +icon("project-context").project__icon.project__icon--context
        | Contract work for the
        = " "
        a(href="https://www.neuland-bfi.de" rel="external noopener" target="_blank") neuland bremen GmbH
      p.project__period
        +icon("project-period").project__icon.project__icon--period
        | April 2014&ndash;January 2016
