extends /includes/layout

block main
  section.top
    .wrap
      h1 Thank you!

  section.wrap
    p
      | That's freakin' awesome.
      br
      | Thanks a lot, I really appreciate it!
    p
      | All the best,
      br
      | :Dennis
      br
      br
      br
