RewriteEngine   on

RewriteCond %{HTTP_HOST} !^dennisreimann.de
RewriteRule (.*) http://dennisreimann.de/$1 [R=301,L]

RewriteCond %{REQUEST_URI} ^/projects/masquerade
RewriteRule (.*) / [R=301,L]

RewriteCond %{REQUEST_URI} ^/archives/blog
RewriteRule archives/blog/(.*) /blog/$1 [R=301,L]

RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.+) $1.html [L]
