$color-highlight = #71B239
$color-darkblue = #2E4F66
$color-subtle = #666
$color-text = #222
$color-gray = #BBB
$color-lightgray = #EEE

$font-size-code = .8rem
$font-size-small = .9rem
$font-size-head = 1.25rem
$font-size-subhead = 1.125rem
$font-size-large = 1.5rem
$font-size-huge = 2.25rem

$space-tiny = .25rem
$space-small = .5rem
$space-normal = .75rem
$space-medium = 1rem
$space-large = 1.5rem
$space-huge = 2.25rem

$width-main = 40rem
$width-aside = 16rem
$width-space = 4rem
$logo-jump = 1.8rem

$font-family-base = Helvetica, Arial, Tahoma, Verdana, sans-serif
$font-family-code = "Fira Code", Hasklig, "Source Code Pro",  "DejaVu Sans Mono", Hack, Meslo, Menlo, Inconsolata, Consolas, "Liberation Mono", Courier, monospace
$font-family-din-bold = DINCondBold
$font-family-din-light = DINLight
