colorHighlight = #71B239
colorSubtle = #666

fontSizeSmall = .9em
fontSizeHead = 1.25em
fontSizeLarge = 1.5em
fontSizeHuge = 2.25em

marginTiny = .25em
marginSmall = .5em
marginNormal = .75em
marginLarge = 1.5em
marginHuge = 2.25em

widthMain = 40em
widthAside = 16em
widthSpace = 4em

logoJump = 1.8em
