$color-highlight = #71B239
$color-darkblue = #2E4F66
$color-mark = #F8FCA1
$color-subtle = #666
$color-text = #222
$color-gray = #BBB
$color-lightgray = #EEE

$font-size-code = .8rem
$font-size-small = .9rem
$font-size-subhead = 1.125rem
$font-size-head = 1.25rem
$font-size-large = 1.5rem
$font-size-huge = 2.25rem

$space-tiny = .25rem
$space-small = .5rem
$space-normal = .75rem
$space-medium = 1rem
$space-large = 1.5rem
$space-huge = 2.25rem

$width-main = 40rem
$width-aside = 17rem
$width-space = 4rem
$logo-jump = 1.8rem

$font-family-serif = Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif
$font-family-base = Helvetica, Arial, Tahoma, Verdana, sans-serif
$font-family-code = "Fira Code", Hasklig, "Source Code Pro",  "DejaVu Sans Mono", Hack, Meslo, Menlo, Inconsolata, Consolas, "Liberation Mono", Courier, monospace
$font-family-din-bold = DINCondBold
$font-family-din-light = DINLight

// 688px = 40rem + 2 * (1.5rem) = $width-main + 2 * $space-large
$escape-wrap
  $breakpoint-escape-wrap = 688px
  $mq-escape-wrap-to = mq_to($breakpoint-escape-wrap)
  $mq-escape-wrap-from = mq_from_and_print($breakpoint-escape-wrap)
  @media $mq-escape-wrap-to
    padding $space-medium $space-large
    margin-left $space-large * -1
    margin-right $space-large * -1
  @media $mq-escape-wrap-from
    border-radius $space-small
    padding $space-medium $space-medium
    margin-left $space-medium * -1
    margin-right $space-medium * -1

$boxed
  @extend $escape-wrap
  border 1px solid lighten($color-lightgray, 1)
  background-image linear-gradient(lighten($color-lightgray, 10), lighten($color-lightgray, 5))
  > :last-child
    margin-bottom 0
