include icon
.wrap
  p.more
    a.more__link(href= h.t(locals, "/kontakt.html", "/contact.html"))
      = h.t(locals, "Kontakt & Impressum", "Contact & Imprint")
    br
    a.more__link(href= h.t(locals, "/datenschutz.html", "/privacy.html"))
      = h.t(locals, "Datenschutz", "Privacy Policy")
