include icon
.wrap
  h2= h.t(locals, "Kontakt", "Contact")
  .vcard
    p
      span.fn Dennis Reimann
      br
      a.email(href="mailto:mail@dennisreimann.de" rel="me") mail@dennisreimann.de
      br
      a.tel(href="tel:+4915122630317" rel="me") +49 (0)151 22 63 03 17

    ul.social
      li.social__item
        a.social__link(href="https://www.xing.com/profile/Dennis_Reimann5" rel="me")
          +icon("social-xing", "XING").social__icon.social__icon--xing
      li.social__item
        a.social__link(href="https://github.com/dennisreimann" rel="me")
          +icon("social-github", "Github").social__icon.social__icon--github
      li.social__item
        a.social__link(href="/atom.xml" rel="me")
          +icon("social-feed", "Feed").social__icon.social__icon--feed

    p.more
      a.more__link(href= h.t(locals, "/kontakt.html", "/contact.html"))
        = h.t(locals, "Kontakt & Impressum", "Contact & Imprint")
