mixin hashtag(word)
  strong.hashtag&attributes(attributes)
    span.hashtag__hash #
    span.hashtag__tag= word

section.hashtags
  .wrap
    +hashtag("designsystems")
    +hashtag("uiengineering")
    +hashtag("componentdriven")
    +hashtag("patternlibrary")
    +hashtag("ux")
    +hashtag("styleguide")
    +hashtag("webperformance")
    +hashtag("prototyping")
    +hashtag("testing")
    +hashtag("documentation")
