doctype html
html(lang=h.t(locals, "de", "en") prefix="og: http://ogp.me/ns#")
  head
    include head
  body
    header#header
      include header
    main#main
      include icons.svg
      block main
    footer#footer
      include footer

    block foot
