figure(role="group").quote
  :markdown-it(html linkify typographer)
    Dennis was wonderful to work with to build and launch the [Square Crypto website](https://squarecrypto.org).
    He was able to take the Figma design and turn around an initial implementation extremely quickly.
    From that point until launch, he was responsive to all feedback. He has also supported a transition to our
    team to be able to maintain the website. The result was excellent, and I hope to work with him again soon.
  footer
    cite —Steve Lee, head of Square Crypto
