figure(role="group").quote.quote--left
  img(alt="Philipp Hoffmann" src=h.assetUrl("images/testimonials/philipp_hoffmann.jpg") srcset=`${h.assetUrl("images/testimonials/philipp_hoffmann-2x.jpg")} 2x`)
  p
    | Die verschiedenen Bestandteile des Design Systems haben es uns ermöglicht, unabhängig und über mehrere Teams verteilt
    | mit einer hohen Geschwindigkeit ein Produkt zu entwickeln und trotzdem ein durchgängiges und benutzerfreundliches
    | Kundenerlebnis zu schaffen.
  footer
    cite —Philipp Hoffmann, Product Owner
