figure(role="group").quote
  p
    | Die Zusammenarbeit mit Dennis ist sehr professionell und gleichzeitig super angenehm und locker.
    | Durch sein konstruktives Feedback konnten wir auch die Teamarbeit weiter verbessern.
    br
    | Seine UIengine bietet viele Möglichkeiten zur Interface-Entwicklung – dies hilft uns besonders bei
    | der Zusammenarbeit in interdisziplinären Teams. Für die Komplexität, die unserer großen Anzahl an
    | Marken mit sich bringt, hat Dennis die UIengine auf unsere spezifischen Anforderungen optimal angepasst,
    | was die Dokumentation sehr erleichtert und Transparenz für alle schafft.
  footer
    cite —Saskia Braun, UI/UX-Lead KLiNGEL Gruppe
