figure.quote.quote--right
  img(alt="Rico Pfaus" src=h.assetUrl("images/testimonials/rico_pfaus.jpg") srcset=`${h.assetUrl("images/testimonials/rico_pfaus-2x.jpg")} 2x`)
  blockquote
    p
      | Wir arbeiten bei Galeria Kaufhof mit vielen externen Experten zusammen.
      | Die Zusammenarbeit mit Dennis war sowohl auf fachlicher als auch auf menschlicher Ebene eine absolute Erfolgsstory.
      | So viel Fachkompetenz im Bereich Frontend-/UX-Engineering, gepaart mit absoluter Leidenschaft, Professionalität und einem großartigen Teamspirit habe ich selten erlebt.
      | Ich würde das jederzeit sehr gern fortsetzen und hoffe, dass unser beider Projektsituation es irgendwann noch einmal ermöglicht.
      | Ganz lieben Dank nochmal für tolle und sehr erfolgreiche 2 Jahre!
  footer
    cite —Rico Pfaus, Frontendarchitekt bei Galeria Kaufhof
