a.social__link(href="https://github.com/dennisreimann" rel="me") GitHub
a.social__link(href="https://twitter.com/dennisreimann" rel="me") Twitter
a.social__link(href="https://www.xing.com/profile/Dennis_Reimann5" rel="me") XING
