RewriteEngine   on

RewriteCond %{HTTP_HOST} !^dennisreimann.de
RewriteRule (.*) https://dennisreimann.de/$1 [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} ^/stuff/tatort.ics/export/
RewriteRule stuff/tatort.ics/export/(.*) https://stuff.dennisreimann.de/tatort/$1 [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} ^/stuff
RewriteRule stuff/(.*) https://stuff.dennisreimann.de/$1 [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} ^/consulting [OR]
RewriteCond %{REQUEST_URI} ^/projects [OR]
RewriteCond %{REQUEST_URI} ^/publications [OR]
RewriteCond %{REQUEST_URI} ^/talks/microformats.html [OR]
RewriteCond %{REQUEST_URI} ^/talks/studien-_und_berufsboerse.html [OR]
RewriteCond %{REQUEST_URI} ^/talks/psn.html [OR]
RewriteCond %{REQUEST_URI} ^/talks/mvc.html [OR]
RewriteCond %{REQUEST_URI} ^/talks/rest.html [OR]
RewriteCond %{REQUEST_URI} ^/talks/scrum.html [OR]
RewriteCond %{REQUEST_URI} ^/talks/openid.html [OR]
RewriteCond %{REQUEST_URI} ^/studies/bachelor-report/slides/idm-academia-03.html [OR]
RewriteCond %{REQUEST_URI} ^/studies/bachelor-report/slides/idm-academia-01.html [OR]
RewriteCond %{REQUEST_URI} ^/studies/bachelor-report/slides/idm-academia-02.html [OR]
RewriteCond %{REQUEST_URI} ^/studies/bachelor-report/slides/openid-attribute-exchange.html [OR]
RewriteCond %{REQUEST_URI} ^/studies/programm_und_prozess/content/design.html [OR]
RewriteCond %{REQUEST_URI} ^/studies/programm_und_prozess/content/system.html [OR]
RewriteCond %{REQUEST_URI} ^/studies/programm_und_prozess/content/literatur.html [OR]
RewriteCond %{REQUEST_URI} ^/studies/programm_und_prozess/content/processing.html [OR]
RewriteCond %{REQUEST_URI} ^/studies/programm_und_prozess/content/start.html [OR]
RewriteCond %{REQUEST_URI} ^/studies/programm_und_prozess/content/zufall.html [OR]
RewriteCond %{REQUEST_URI} ^/studies/programm_und_prozess/content/algorithmus.html [OR]
RewriteCond %{REQUEST_URI} ^/studies/programm_und_prozess/content/abstraktion.html [OR]
RewriteCond %{REQUEST_URI} ^/studies/programm_und_prozess/content/formale_sprachen.html [OR]
RewriteCond %{REQUEST_URI} ^/studies/programm_und_prozess/content/mengen_und_zahlen.html [OR]
RewriteCond %{REQUEST_URI} ^/studies/programm_und_prozess/content/programmiersprachen.html [OR]
RewriteCond %{REQUEST_URI} ^/studies/programm_und_prozess/content/bild_und_bildlichkeit.html [OR]
RewriteCond %{REQUEST_URI} ^/studies/programm_und_prozess/content/programme_und_prozesse.html [OR]
RewriteCond %{REQUEST_URI} ^/studies/programm_und_prozess/content/turing_berechenbarkeit.html [OR]
RewriteCond %{REQUEST_URI} ^/studies/programm_und_prozess/content/funktionen_und_parameter.html [OR]
RewriteCond %{REQUEST_URI} ^/studies/programm_und_prozess/content/daten_information_wissen.html [OR]
RewriteCond %{REQUEST_URI} ^/studies/programm_und_prozess/content/bild_text_maschine_medium.html [OR]
RewriteCond %{REQUEST_URI} ^/studies/programm_und_prozess/content/grenzen_der_berechenbarkeit.html [OR]
RewriteCond %{REQUEST_URI} ^/studies/programm_und_prozess/programs/Homage_to_the_square [OR]
RewriteCond %{REQUEST_URI} ^/studies/programm_und_prozess/programs/Systematic [OR]
RewriteCond %{REQUEST_URI} ^/studies/programm_und_prozess/programs/Interactive [OR]
RewriteCond %{REQUEST_URI} ^/studies/programm_und_prozess/programs/Entwicklung [OR]
RewriteCond %{REQUEST_URI} ^/studies/programm_und_prozess/programs/Hell_Dunkel_3 [OR]
RewriteCond %{REQUEST_URI} ^/studies/programm_und_prozess/programs/Hell_Dunkel_1 [OR]
RewriteCond %{REQUEST_URI} ^/studies/programm_und_prozess/programs/Hell_Dunkel_2 [OR]
RewriteCond %{REQUEST_URI} ^/studies/programm_und_prozess/programs/Bildungsgesetz [OR]
RewriteCond %{REQUEST_URI} ^/studies/programm_und_prozess/programs/Verschachtelte_Iterationen [OR]
RewriteCond %{REQUEST_URI} ^/blog/stock-20 [OR]
RewriteCond %{REQUEST_URI} ^/blog/ploppcasts [OR]
RewriteCond %{REQUEST_URI} ^/blog/erlend-oye [OR]
RewriteCond %{REQUEST_URI} ^/blog/back-again [OR]
RewriteCond %{REQUEST_URI} ^/blog/going-solo [OR]
RewriteCond %{REQUEST_URI} ^/blog/taschentone [OR]
RewriteCond %{REQUEST_URI} ^/blog/dankbarkeit [OR]
RewriteCond %{REQUEST_URI} ^/blog/wong-the-web [OR]
RewriteCond %{REQUEST_URI} ^/blog/how-to-spick [OR]
RewriteCond %{REQUEST_URI} ^/blog/microformats [OR]
RewriteCond %{REQUEST_URI} ^/blog/link-o-rama-2 [OR]
RewriteCond %{REQUEST_URI} ^/blog/link-o-rama-1 [OR]
RewriteCond %{REQUEST_URI} ^/blog/acts_as_tshirt [OR]
RewriteCond %{REQUEST_URI} ^/blog/more-on-openid [OR]
RewriteCond %{REQUEST_URI} ^/blog/lecker-lunch20 [OR]
RewriteCond %{REQUEST_URI} ^/blog/vier-ausgabe-2 [OR]
RewriteCond %{REQUEST_URI} ^/blog/openid-in-2007 [OR]
RewriteCond %{REQUEST_URI} ^/blog/endlich-urlaub [OR]
RewriteCond %{REQUEST_URI} ^/blog/webdev-podcasts [OR]
RewriteCond %{REQUEST_URI} ^/blog/opendata-bremen [OR]
RewriteCond %{REQUEST_URI} ^/blog/xajax-framework [OR]
RewriteCond %{REQUEST_URI} ^/blog/studium-beendet [OR]
RewriteCond %{REQUEST_URI} ^/blog/wevent-goes-beta [OR]
RewriteCond %{REQUEST_URI} ^/blog/saturn-denkt-mit [OR]
RewriteCond %{REQUEST_URI} ^/blog/mein-imac-ist-da [OR]
RewriteCond %{REQUEST_URI} ^/blog/css-live-editing [OR]
RewriteCond %{REQUEST_URI} ^/blog/frohohohoes-fest [OR]
RewriteCond %{REQUEST_URI} ^/blog/aktueller-status [OR]
RewriteCond %{REQUEST_URI} ^/blog/rails-migrations [OR]
RewriteCond %{REQUEST_URI} ^/blog/smalltalk-lernen [OR]
RewriteCond %{REQUEST_URI} ^/blog/die-letzten-tage [OR]
RewriteCond %{REQUEST_URI} ^/blog/openid-screencast [OR]
RewriteCond %{REQUEST_URI} ^/blog/the-more-you-work [OR]
RewriteCond %{REQUEST_URI} ^/blog/aufgaben-anpacken [OR]
RewriteCond %{REQUEST_URI} ^/blog/disser-app-iphone [OR]
RewriteCond %{REQUEST_URI} ^/blog/lecker-cappuccino [OR]
RewriteCond %{REQUEST_URI} ^/blog/app-store-pricing [OR]
RewriteCond %{REQUEST_URI} ^/blog/schreit-nach-neid [OR]
RewriteCond %{REQUEST_URI} ^/blog/episode-03-openid [OR]
RewriteCond %{REQUEST_URI} ^/blog/ruby-macruby-cocoa [OR]
RewriteCond %{REQUEST_URI} ^/blog/kein-podcast-heute [OR]
RewriteCond %{REQUEST_URI} ^/blog/ein-jahr-webmontag [OR]
RewriteCond %{REQUEST_URI} ^/blog/auf-dem-vorderdeck [OR]
RewriteCond %{REQUEST_URI} ^/blog/portfolio-relaunch [OR]
RewriteCond %{REQUEST_URI} ^/blog/heute-vor-2-jahren [OR]
RewriteCond %{REQUEST_URI} ^/blog/podcast-episode-01 [OR]
RewriteCond %{REQUEST_URI} ^/blog/zendome-iphone-app [OR]
RewriteCond %{REQUEST_URI} ^/blog/podcast-episode-02 [OR]
RewriteCond %{REQUEST_URI} ^/blog/switch-to-freemium [OR]
RewriteCond %{REQUEST_URI} ^/blog/die-daten-sind-frei [OR]
RewriteCond %{REQUEST_URI} ^/blog/interview-zu-wevent [OR]
RewriteCond %{REQUEST_URI} ^/blog/sxsw-2006-beitraege [OR]
RewriteCond %{REQUEST_URI} ^/blog/entwurf-zu-xhtml-20 [OR]
RewriteCond %{REQUEST_URI} ^/blog/webmontag-fur-bremen [OR]
RewriteCond %{REQUEST_URI} ^/blog/social-buecherlesing [OR]
RewriteCond %{REQUEST_URI} ^/blog/das-faengt-ja-gut-an [OR]
RewriteCond %{REQUEST_URI} ^/blog/deployment-with-vlad [OR]
RewriteCond %{REQUEST_URI} ^/blog/heute-ist-geburtstag [OR]
RewriteCond %{REQUEST_URI} ^/blog/was-macht-eigentlich [OR]
RewriteCond %{REQUEST_URI} ^/blog/kapfenberg-ich-komme [OR]
RewriteCond %{REQUEST_URI} ^/blog/produktiver-arbeiten [OR]
RewriteCond %{REQUEST_URI} ^/blog/weventorg-ist-online [OR]
RewriteCond %{REQUEST_URI} ^/blog/episode-04-opensearch [OR]
RewriteCond %{REQUEST_URI} ^/blog/jumping-the-blogwagon [OR]
RewriteCond %{REQUEST_URI} ^/blog/typo3-aufsetzen-setup [OR]
RewriteCond %{REQUEST_URI} ^/blog/geeken-in-der-foo-bar [OR]
RewriteCond %{REQUEST_URI} ^/blog/rails-routes-benennen [OR]
RewriteCond %{REQUEST_URI} ^/blog/ten-year-itch-umsonst [OR]
RewriteCond %{REQUEST_URI} ^/blog/interessante-theorien [OR]
RewriteCond %{REQUEST_URI} ^/blog/dont-try-this-at-home [OR]
RewriteCond %{REQUEST_URI} ^/blog/kreative-printwerbung [OR]
RewriteCond %{REQUEST_URI} ^/blog/not-much-to-blog-about [OR]
RewriteCond %{REQUEST_URI} ^/blog/das-betamagazin-ist-da [OR]
RewriteCond %{REQUEST_URI} ^/blog/italien-vs-deutschland [OR]
RewriteCond %{REQUEST_URI} ^/blog/typo3-usergroup-bremen [OR]
RewriteCond %{REQUEST_URI} ^/blog/embracing-microformats [OR]
RewriteCond %{REQUEST_URI} ^/blog/episode-06-projektstart [OR]
RewriteCond %{REQUEST_URI} ^/blog/openid-login-delegieren [OR]
RewriteCond %{REQUEST_URI} ^/blog/ioctocat-github-for-ios [OR]
RewriteCond %{REQUEST_URI} ^/blog/yaml-in-typo3-einbinden [OR]
RewriteCond %{REQUEST_URI} ^/blog/mein-imac-ist-unterwegs [OR]
RewriteCond %{REQUEST_URI} ^/blog/erster-bremer-webmontag [OR]
RewriteCond %{REQUEST_URI} ^/blog/auf-zur-rails-konferenz [OR]
RewriteCond %{REQUEST_URI} ^/blog/neue-microformats-icons [OR]
RewriteCond %{REQUEST_URI} ^/blog/programmiert-ihr-deutsch [OR]
RewriteCond %{REQUEST_URI} ^/blog/abhaengen-im-second-life [OR]
RewriteCond %{REQUEST_URI} ^/blog/installing-iphone-sdk-30 [OR]
RewriteCond %{REQUEST_URI} ^/blog/am-anfang-war-das-papier [OR]
RewriteCond %{REQUEST_URI} ^/blog/s5key-slideshow-launcher [OR]
RewriteCond %{REQUEST_URI} ^/blog/barcamp-koeln-die-zweite [OR]
RewriteCond %{REQUEST_URI} ^/blog/bundesligastart-20062007 [OR]
RewriteCond %{REQUEST_URI} ^/blog/studien-und-berufsboerse [OR]
RewriteCond %{REQUEST_URI} ^/blog/in-memoriam-randy-pausch [OR]
RewriteCond %{REQUEST_URI} ^/blog/identitycamp-bremen-2008 [OR]
RewriteCond %{REQUEST_URI} ^/blog/t3n-das-typo3-fachmagazin [OR]
RewriteCond %{REQUEST_URI} ^/blog/visual-jquery-das-magazin [OR]
RewriteCond %{REQUEST_URI} ^/blog/unser-erstes-geektogether [OR]
RewriteCond %{REQUEST_URI} ^/blog/chicken-kicken-bei-subway [OR]
RewriteCond %{REQUEST_URI} ^/blog/die-ideale-gruppengroesse [OR]
RewriteCond %{REQUEST_URI} ^/blog/microformats-und-die-bots [OR]
RewriteCond %{REQUEST_URI} ^/blog/typo3-version-40-released [OR]
RewriteCond %{REQUEST_URI} ^/blog/spieltrieb-regionalexzess [OR]
RewriteCond %{REQUEST_URI} ^/blog/openid-in-rails-einbinden [OR]
RewriteCond %{REQUEST_URI} ^/blog/goetz-widmann-and-friends [OR]
RewriteCond %{REQUEST_URI} ^/blog/dota-und-die-stadtpiraten [OR]
RewriteCond %{REQUEST_URI} ^/blog/programm-prozess-lernbuch [OR]
RewriteCond %{REQUEST_URI} ^/blog/goetz-widmann-harmlos-dvd [OR]
RewriteCond %{REQUEST_URI} ^/blog/podcasts-round-up-revised [OR]
RewriteCond %{REQUEST_URI} ^/blog/praxiswissen-ruby-on-rails [OR]
RewriteCond %{REQUEST_URI} ^/blog/feeds-parsen-mit-simplepie [OR]
RewriteCond %{REQUEST_URI} ^/blog/unser-zweites-geektogether [OR]
RewriteCond %{REQUEST_URI} ^/blog/episode-09-design-patterns [OR]
RewriteCond %{REQUEST_URI} ^/blog/git-versionskontrollsystem [OR]
RewriteCond %{REQUEST_URI} ^/blog/ioctocat-github-for-iphone [OR]
RewriteCond %{REQUEST_URI} ^/blog/bremer-webmontag-die-erste [OR]
RewriteCond %{REQUEST_URI} ^/blog/codeshelver-is-open-source [OR]
RewriteCond %{REQUEST_URI} ^/blog/interview-mit-jan-krutisch [OR]
RewriteCond %{REQUEST_URI} ^/blog/ruby-on-rails-cheat-sheets [OR]
RewriteCond %{REQUEST_URI} ^/blog/ruby-on-rails-im-neuen-t3n [OR]
RewriteCond %{REQUEST_URI} ^/blog/bremer-webmontag-die-dritte [OR]
RewriteCond %{REQUEST_URI} ^/blog/mister-wong-firefox-toolbar [OR]
RewriteCond %{REQUEST_URI} ^/blog/schoner-surfen-ohne-candice [OR]
RewriteCond %{REQUEST_URI} ^/blog/merb-mal-genauer-betrachtet [OR]
RewriteCond %{REQUEST_URI} ^/blog/rails-hosting-auf-uberspace [OR]
RewriteCond %{REQUEST_URI} ^/blog/schones-aus-der-heimatstadt [OR]
RewriteCond %{REQUEST_URI} ^/blog/bremer-webmontag-die-zweite [OR]
RewriteCond %{REQUEST_URI} ^/blog/random-stuff-on-microformats [OR]
RewriteCond %{REQUEST_URI} ^/blog/an-den-landungsbruecken-raus [OR]
RewriteCond %{REQUEST_URI} ^/blog/probleme-mit-mongrel-threads [OR]
RewriteCond %{REQUEST_URI} ^/blog/der-bremer-webmontag-ist-tot [OR]
RewriteCond %{REQUEST_URI} ^/blog/episode-05-openbc-alias-xing [OR]
RewriteCond %{REQUEST_URI} ^/blog/mister-wong-wordpress-plugin [OR]
RewriteCond %{REQUEST_URI} ^/blog/openbook-javascript-und-ajax [OR]
RewriteCond %{REQUEST_URI} ^/blog/one-yubikey-to-rule-them-all [OR]
RewriteCond %{REQUEST_URI} ^/blog/on-openid-attribute-exchange [OR]
RewriteCond %{REQUEST_URI} ^/blog/rails-assoziationen-erweitern [OR]
RewriteCond %{REQUEST_URI} ^/blog/my-nodejs-deployment-approach [OR]
RewriteCond %{REQUEST_URI} ^/blog/mit-allen-ie-versionen-testen [OR]
RewriteCond %{REQUEST_URI} ^/blog/feeds-verknuepfen-for-dummies [OR]
RewriteCond %{REQUEST_URI} ^/blog/tippn-bundesliga-tippspiel-20 [OR]
RewriteCond %{REQUEST_URI} ^/blog/rails-permalinks-fuer-modelle [OR]
RewriteCond %{REQUEST_URI} ^/blog/barcamp-hamburg-take-the-poll [OR]
RewriteCond %{REQUEST_URI} ^/blog/opensocial-das-netz-der-netze [OR]
RewriteCond %{REQUEST_URI} ^/blog/erstes-geektogether-in-bremen [OR]
RewriteCond %{REQUEST_URI} ^/blog/parallele-zuweisungen-in-ruby [OR]
RewriteCond %{REQUEST_URI} ^/blog/screencasts-zur-webentwicklung [OR]
RewriteCond %{REQUEST_URI} ^/blog/mein-einstieg-in-ruby-on-rails [OR]
RewriteCond %{REQUEST_URI} ^/blog/masquerade-now-runs-on-rails-3 [OR]
RewriteCond %{REQUEST_URI} ^/blog/cijoe-mail-notification-script [OR]
RewriteCond %{REQUEST_URI} ^/blog/interview-mit-nico-hagenburger [OR]
RewriteCond %{REQUEST_URI} ^/blog/rails-openid-server-masquerade [OR]
RewriteCond %{REQUEST_URI} ^/blog/ruby-webdev-framework-overload [OR]
RewriteCond %{REQUEST_URI} ^/blog/rueckblick-aufs-barcamp-vienna [OR]
RewriteCond %{REQUEST_URI} ^/blog/fun-mit-der-google-code-search [OR]
RewriteCond %{REQUEST_URI} ^/blog/watch-out-zweites-geektogether [OR]
RewriteCond %{REQUEST_URI} ^/blog/using-mongomapper-with-rails-3 [OR]
RewriteCond %{REQUEST_URI} ^/blog/deutschland-ein-sommermaerchen [OR]
RewriteCond %{REQUEST_URI} ^/blog/greasemonkey-userscript-updates [OR]
RewriteCond %{REQUEST_URI} ^/blog/definining-openid-ax-attributes [OR]
RewriteCond %{REQUEST_URI} ^/blog/setting-up-ubuntu-with-teleport [OR]
RewriteCond %{REQUEST_URI} ^/blog/pixelsebis-microformats-podcast [OR]
RewriteCond %{REQUEST_URI} ^/blog/computerspiele-aus-deutschland-2 [OR]
RewriteCond %{REQUEST_URI} ^/blog/the-last-lecture-of-randy-pausch [OR]
RewriteCond %{REQUEST_URI} ^/blog/asynchronitat-mit-dem-iphone-sdk [OR]
RewriteCond %{REQUEST_URI} ^/blog/episode-07-web-services-und-rest [OR]
RewriteCond %{REQUEST_URI} ^/blog/von-der-einsamkeit-am-wochenende [OR]
RewriteCond %{REQUEST_URI} ^/blog/seeds-for-different-environments [OR]
RewriteCond %{REQUEST_URI} ^/blog/kleines-webdev-podcasts-round-up [OR]
RewriteCond %{REQUEST_URI} ^/blog/font-family-besucherunfreundlich [OR]
RewriteCond %{REQUEST_URI} ^/blog/lastfm-implementiert-microformats [OR]
RewriteCond %{REQUEST_URI} ^/blog/vorfreude-auf-das-barcamp-hamburg [OR]
RewriteCond %{REQUEST_URI} ^/blog/das-neuste-testament-getting-real [OR]
RewriteCond %{REQUEST_URI} ^/blog/es-kommt-nicht-auf-die-groesse-an [OR]
RewriteCond %{REQUEST_URI} ^/blog/agile-gruppe-bremen-scrum-vortrag [OR]
RewriteCond %{REQUEST_URI} ^/blog/gravatar-loading-with-objective-c [OR]
RewriteCond %{REQUEST_URI} ^/blog/microformats-deutsche-type-angaben [OR]
RewriteCond %{REQUEST_URI} ^/blog/authentication-logic-on-the-iphone [OR]
RewriteCond %{REQUEST_URI} ^/blog/disabled-options-in-ie-with-jquery [OR]
RewriteCond %{REQUEST_URI} ^/blog/coderichtlinien-fuer-xhtml-und-css [OR]
RewriteCond %{REQUEST_URI} ^/blog/zweiter-bremer-webmontag-verschoben [OR]
RewriteCond %{REQUEST_URI} ^/blog/goetz-widmann-im-bremer-schlachthof [OR]
RewriteCond %{REQUEST_URI} ^/blog/rails-rss-und-atom-feeds-generieren [OR]
RewriteCond %{REQUEST_URI} ^/blog/rails-sind-echte-permalinks-es-wert [OR]
RewriteCond %{REQUEST_URI} ^/blog/rails-datenbank-mit-fixtures-fullen [OR]
RewriteCond %{REQUEST_URI} ^/blog/codeshelver-tag-github-repositories [OR]
RewriteCond %{REQUEST_URI} ^/blog/website-performance-tunen-mit-yslow [OR]
RewriteCond %{REQUEST_URI} ^/blog/videos-der-rails-konferenz-vortraege [OR]
RewriteCond %{REQUEST_URI} ^/blog/uitextview-height-in-uitableviewcell [OR]
RewriteCond %{REQUEST_URI} ^/blog/ioctocat-a-github-app-for-the-iphone [OR]
RewriteCond %{REQUEST_URI} ^/blog/programmiert-ihr-deutsch-nachgeladen [OR]
RewriteCond %{REQUEST_URI} ^/blog/thesis-zu-microformats-zum-downloaden [OR]
RewriteCond %{REQUEST_URI} ^/blog/substituting-before_filter-load_object [OR]
RewriteCond %{REQUEST_URI} ^/blog/using-cucumber-step-argument-transforms [OR]
RewriteCond %{REQUEST_URI} ^/blog/deutschland-vs-argentinien-bremen-danach [OR]
RewriteCond %{REQUEST_URI} ^/blog/configuring-nginx-for-the-asset-pipeline [OR]
RewriteCond %{REQUEST_URI} ^/blog/von-iso-8859-1-zu-utf-8-in-php-und-mysql [OR]
RewriteCond %{REQUEST_URI} ^/blog/referencing-rails-assets-in-coffeescript [OR]
RewriteCond %{REQUEST_URI} ^/blog/ruby-on-rails-installation-unter-windows [OR]
RewriteCond %{REQUEST_URI} ^/blog/der-xing-launch-aus-technischer-hinsicht [OR]
RewriteCond %{REQUEST_URI} ^/blog/gallmucke-fred-timm-und-der-flotte-totte [OR]
RewriteCond %{REQUEST_URI} ^/blog/precompiling-rails-assets-for-development [OR]
RewriteCond %{REQUEST_URI} ^/blog/deutschland-vs-italien-vier-monate-spater [OR]
RewriteCond %{REQUEST_URI} ^/blog/opensearch-suche-in-den-browser-auslagern [OR]
RewriteCond %{REQUEST_URI} ^/blog/ist-agilitaet-in-kundenprojekten-anwendbar [OR]
RewriteCond %{REQUEST_URI} ^/blog/uiactivityindicatorview-in-uinavigationbar [OR]
RewriteCond %{REQUEST_URI} ^/blog/episode-08-operator-strest-rails-und-css-3 [OR]
RewriteCond %{REQUEST_URI} ^/blog/starterkit-test-driven-development-mit-rails [OR]
RewriteCond %{REQUEST_URI} ^/blog/rails-deployment-with-vlad-git-and-passenger [OR]
RewriteCond %{REQUEST_URI} ^/blog/silencing-the-rails-log-on-a-per-action-basis [OR]
RewriteCond %{REQUEST_URI} ^/blog/installing-couchdb-and-erlang-on-ubuntu-hardy [OR]
RewriteCond %{REQUEST_URI} ^/blog/rezension-zu-webanwendungen-mit-ruby-on-rails [OR]
RewriteCond %{REQUEST_URI} ^/blog/ueber-den-wirtschaftlichen-nutzen-von-agilitat [OR]
RewriteCond %{REQUEST_URI} ^/blog/migrations-fuer-laender-sprachen-und-zeitzonen [OR]
RewriteCond %{REQUEST_URI} ^/blog/rails-performancesteigerung-durch-piggy-backing [OR]
RewriteCond %{REQUEST_URI} ^/blog/abschlusarbeiten-grundlagen-medialer-gestaltung [OR]
RewriteCond %{REQUEST_URI} ^/blog/veranstaltungsreihe-computerspiele-aus-deutschland [OR]
RewriteCond %{REQUEST_URI} ^/blog/syncing-socialite-across-multiple-macs-using-dropbox [OR]
RewriteCond %{REQUEST_URI} ^/blog/three-quick-wins-for-responding-to-customer-feedback [OR]
RewriteCond %{REQUEST_URI} ^/blog/abschlusspraesentation-grundlagen-medialer-gestaltung [OR]
RewriteCond %{REQUEST_URI} ^/blog/penisverletzungen-durch-masturbation-mit-staubsaugern [OR]
RewriteCond %{REQUEST_URI} ^/blog/capybara-finder-for-cucumber-rails-deprecated-tableish [OR]
RewriteCond %{REQUEST_URI} ^/blog/wartungsfreundliche-web-applikationen-mit-ruby-on-rails [OR]
RewriteCond %{REQUEST_URI} ^/blog/how-to-deploy-to-older-os-versions-with-the-iphone-sdk-3-0
RewriteRule (.*) https://archive.dennisreimann.de/$1 [R=301,L]

RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.+) $1.html [L]
