extends includes/layout

block main
  section
    p
      | Als Softwareentwickler unterstütze ich Unternehmen bei der Realisierung
      | von Webanwendungen und Apps für mobile Endgeräte wie das iPhone und iPad.
      br
      | Mein Schwerpunkt liegt dabei auf der Frontend-Entwicklung mit JavaScript,
      | CSS und HTML.
  section
    h2 Kunden und Projekte
    ol.projects
      li.project
        h3.project__name
          a(href="http://ioctocat.com/") iOctocat
        .project__description
          p
            | GitHub iOS App für das iPhone, iPad und iPod Touch. Um auch unterwegs
            | in Projekten auf dem Laufenden zu bleiben lässt die App keinen Wunsch offen: News- und Activity-Feed, öffentliche
            | und private Repositories, Benutzerprofile und Suche für Repositories und Benutzer.
          p
            | Die Anwendung wurde als&nbsp;
            a(href="https://github.com/dennisreimann/ioctocat") Open Source
            | -Projekt veröffentlicht und ist&nbsp;
            a(href="http://ioctocat.com/appstore-iphone") im iTunes App Store erhältlich
            | .
      li.project
        h3.project__name
          a(href="http://www.3suisses.de/t/") 3Suisses Tablet Shop
        .project__description
          p
            | Die für Tablets optimierte Version des 3Suisses Webshop
            | bietet die beliebtesten Features der Desktop-Variante
            | plus zusätzliche Funktionen, die speziell für die
            | Benutzung mit iPad und Co. entwickelt wurden. So erlaubt
            | beispielsweise das Smartmatch-Tool die Zusammenstellung
            | der Lieblingsartikel per Drag and Drop.
      li.project
        h3.project__name
          a(href="http://m.ftd.de/") FTD MOBIL
        .project__description
          p
            | Die mobile Version der Financial Times Deutschland
            | ist auf Basis von Webtechnologie realisiert und wurde für
            | das iPhone, Android und BlackBerry entwickelt.
    p.more
      a.more__link(href="/projects") Alle Projekte
