extends includes/layout

block main
  section
    p
      | Als freiberuflicher Softwareentwickler unterstütze ich Unternehmen bei der Realisierung
      | von Webanwendungen. Mein Schwerpunkt liegt dabei auf der Frontend-Entwicklung
      | mit JavaScript, CSS und HTML. In diesem Bereich beschäftige ich mich insbesondere mit der
      | Architektur komplexer Webanwendungen, unter anderem im eCommerce-Umfeld und interaktiven
      | JavaScript-Applikation.

  section
    h2 Kunden und Projekte
    ol.projects
      li.project
        h3.project__name
          a(href="https://www.galeria-kaufhof.de/" rel="external" target="_blank") Galeria Kaufhof
        p.project__description
          | Unter dem Projektnamen
          = " "
          a(href="http://galeria-kaufhof.github.io/general/2014/09/20/jump-ein-technologiesprung-bei-galeria-kaufhof/" rel="external" target="_blank") JUMP
          = " "
          | wurde der Galeria Kaufhof Webshop im Sommer 2015 mit einer komplett neuen Technologiebasis
          | gerelauncht. Dabei arbeitete ich seit Frühjahr 2014 als Teil des Teams Frontend-Integration
          | an der Architektur, dem dazugehörigen Styleguide und Anbindung der Microservice-Backendsysteme.
          | Im Verlauf des Projekts wurden zusätzlich Themen wie Performance-Monitoring/Optimierung
          | sowie funktionale und visuelle Regressionstests adressiert.
        p.project__task
          | Aufbau der Frontend-Architektur für den Microservice-basierten, full responsive Webshop. Frontendentwicklung mit
          | JavaScript, CSS und HTML. Build-Prozess, Dokumentation, Tests, Performance-Monitoring und Optimierung
          | für globale Assets und Styleguide.
        p.project__context
          | Auftragsarbeit für die
          = " "
          a(href="https://neuland-bfi.de" rel="external" target="_blank") neuland bremen GmbH
        p.project__period
          | April 2014 - September 2015
      li.project
        h3.project__name
          a(href="https://www.breuninger.de/" rel="external" target="_blank") Breuninger Guided Selling
        p.project__description
          | Bei Guided Selling handelt es sich um eine Multichannel-Anwendung, die von Breuninger
          | in den Filialen eingesetzt wird. Sie wird in den Breuninger Kaufhäusern von den Verkäufern
          | benutzt, um Kunden stationär nicht verfügbare Produkte über den Webshop anzubieten.
        p.project__task
          | Frontendentwicklung mit JavaScript, CSS und HTML. Responsive Webdesign. Konzeption von
          | Benutzerinteraktionen und Integration von Backend-Schnittstellen.
        p.project__context
          | Auftragsarbeit für die
          = " "
          a(href="https://neuland-bfi.de" rel="external" target="_blank") neuland bremen GmbH
        p.project__period
          | Februar 2014 - April 2014
      li.project
        h3.project__name
          a(href="https://itunes.apple.com/de/app/airberlin-your-airline/id409129262?mt=8" rel="external" target="_blank") airberlin iPhone App
        p.project__description
          | iOS 7-Relaunch der airberlin iPhone App, mit Funktionen zur Flugbuchung, Sitzplatzauswahl,
          | Check-In mit Passbook-Integration und Reiseinformationen.
        p.project__task
          | Softwareentwicklung mit dem iOS SDK und Xcode. Konzeption von
          | Benutzerinteraktionen und Integration von Backend-Schnittstellen.
        p.project__context
          | Auftragsarbeit für die&nbsp;
          a(href="https://www.hmmh.de/" rel="external" target="_blank") hmmh multimediahaus AG
        p.project__period
          | Januar 2014 - Februar 2014
      li.project
        h3.project__name
          | Teasd
        p.project__description
          | Prototyp einer Webanwendung zur Erzeugung von responsive Teasern.
        p.project__task
          | Softwareentwicklung mit Angular.js und HTML5, sowie Node.js und Socket.io.
        p.project__context
          | Auftragsarbeit für die&nbsp;
          a(href="http://precious-forever.com/" rel="external" target="_blank") precious Gesellschaft für Design mbH
        p.project__period
          | Dezember 2013 - Januar 2014
      li.project
        h3.project__name
          a(href="https://www.breuninger.de/" rel="external" target="_blank") Breuninger
        p.project__description
          | Full Responsive Relaunch des Breuninger Webshops.
        p.project__task
          | Frontendentwicklung, Responsive Webdesign
        p.project__context
          | Auftragsarbeit für die&nbsp;
          a(href="https://neuland-bfi.de" rel="external" target="_blank") neuland bremen GmbH
        p.project__period
          | Juli 2013 - Oktober 2013
    p.more
      | ... sowie weitere, private Projekte, die auch als Spielwiese und Versuchskaninchen dienen.
      | Wie zum Beispiel
      = " "
      a(href="https://vomrost.de/" rel="external" target="_blank") Vom Rost - mein Blog zum Grillen und BBQ
      | .

    p.more
      a.more__link(href="/projects") Vorige Projekte
