extends includes/layout

block main
  section
    p
      | Als freiberuflicher Softwareentwickler unterstütze ich Unternehmen bei der Realisierung
      | von Webanwendungen. Mein Schwerpunkt liegt dabei auf der Frontend-Entwicklung
      | mit JavaScript, CSS und HTML.
  section
    h2 Kunden und Projekte
    ol.projects
      li.project
        h3.project__name
          a(href="https://www.galeria-kaufhof.de/") Galeria Kaufhof
        p.project__task
          | Frontendentwicklung, Performance-Optimierungen
        p.project__context
          | Auftragsarbeit für die&nbsp;
          a(href="https://neuland-bfi.de") neuland bremen GmbH
        p.project__period
          | April 2014 - September 2015
      li.project
        h3.project__name
          a(href="https://www.breuninger.de/") Breuninger Guided Selling
        p.project__task
          | Frontendentwicklung, Responsive Webdesign
        p.project__context
          | Auftragsarbeit für die&nbsp;
          a(href="https://neuland-bfi.de") neuland bremen GmbH
        p.project__period
          | Februar 2014 - April 2014
      li.project
        h3.project__name
          a(href="https://itunes.apple.com/de/app/airberlin-your-airline/id409129262?mt=8") airberlin iPhone App
        p.project__task
          | Softwareentwicklung mit dem iOS SDK und Xcode
        p.project__context
          | Auftragsarbeit für die&nbsp;
          a(href="https://www.hmmh.de/") hmmh multimediahaus AG
        p.project__period
          | Januar 2014 - Februar 2014
      li.project
        h3.project__name
          | Teasd
        p.project__description
          | Prototyp einer Webanwendung zur Erzeugung von responsive Teasern.
        p.project__task
          | Softwareentwicklung
        p.project__context
          | Auftragsarbeit für die&nbsp;
          a(href="http://precious-forever.com/") precious Gesellschaft für Design mbH
        p.project__period
          | Dezember 2013 - Januar 2014
      li.project
        h3.project__name
          a(href="https://www.breuninger.de/") Breuninger
        p.project__task
          | Frontendentwicklung, Responsive Webdesign
        p.project__context
          | Auftragsarbeit für die&nbsp;
          a(href="https://neuland-bfi.de") neuland bremen GmbH
        p.project__period
          | Juli 2013 - Oktober 2013
    p.more
      a.more__link(href="/projects") Vorige Projekte
